/* line 17, ../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
 blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* line 22, ../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
    line-height: 1;
}

/* line 24, ../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
    list-style: none;
}

/* line 26, ../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 28, ../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 30, ../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: none;
}
/* line 103, ../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

/* line 32, ../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 116, ../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

/******************************
	Variables
******************************/
/******************************
	Mixins
******************************/
/* line 5, assets/scss/style.scss */
html {
    height: 100%;
}

/* line 9, assets/scss/style.scss */
body {
    background-color: #242731;
    color: white;

    font-family: GothamLightRegular;
    min-height: 100%;
}

/* line 17, assets/scss/style.scss */
* {
    box-sizing: border-box;
    outline: 0;
}

/* line 22, assets/scss/style.scss */
note

/* line 1, assets/scss/_animations.scss */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    /* line 9, assets/scss/_animations.scss */
    0% {
        opacity: 0;
    }

    /* line 10, assets/scss/_animations.scss */
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    /* line 14, assets/scss/_animations.scss */
    0% {
        opacity: 0;
    }

    /* line 15, assets/scss/_animations.scss */
    100% {
        opacity: 1;
    }
}

/* line 18, assets/scss/_animations.scss */
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    /* line 24, assets/scss/_animations.scss */
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -5%, 0);
        transform: translate3d(0, -5%, 0);
    }

    /* line 30, assets/scss/_animations.scss */
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    /* line 38, assets/scss/_animations.scss */
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -5%, 0);
        transform: translate3d(0, -5%, 0);
    }

    /* line 44, assets/scss/_animations.scss */
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* line 51, assets/scss/_animations.scss */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

/*@-webkit-keyframes pulse {
  0% {background-color: #F0552E;}
  29% {background-color: #EF6E27;}
  58% {background-color: #F79232;}
  87% {background-color: #F9AF3E;}
  100% {background-color: #F0552E;}
}

@keyframes pulse {
  0% {background-color: #F0552E;}
  29% {background-color: #EF6E27;}
  58% {background-color: #F79232;}
  87% {background-color: #F9AF3E;}
  100% {background-color: #F0552E;}
}

.pulse {
  -webkit-animation: pulse 30s infinite;
  animation: pulse 30s infinite;
}*/
/******************************
	Grid
******************************/
/* line 31, assets/scss/style.scss */
.wrapper {
    margin: 0 auto;
    width: 891px;
}

/* line 36, assets/scss/style.scss */
[class*='col-'] {
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;
}

/* line 41, assets/scss/style.scss */
.col-preview {
    width: 263px;
    height: 523px;
    background: url(images/app-preview-small.png) no-repeat center center;
    background-size: 100% auto;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    /* line 41, assets/scss/style.scss */
    .col-preview {
        /* on retina, use image that's scaled by 2 */
        background-image: url("images/app-preview-small@2x.png");
        background-size: 50% "auto";
    }
}

/* line 48, assets/scss/style.scss */
.col-description {
    width: 540px;
    margin-left: 58px;
}

/* line 53, assets/scss/style.scss */
.align-left {
    float: left;
}

/* line 56, assets/scss/style.scss */
.align-right {
    float: right;
}

/******************************
	Typography
******************************/
/* line 63, assets/scss/style.scss */
/*h1, h2, h3, h4, h5, h6 {*/
    /*font-family: "brandon-grotesque", sans-serif;*/
    /*font-weight: bold;*/
    /*line-height: 1.5em;*/
    /*text-transform: uppercase;*/
/*}*/

/* line 69, assets/scss/style.scss */
/*h1 {*/
    /*font-size: 28px;*/
/*}*/

/* line 72, assets/scss/style.scss */
/*h2 {*/
    /*font-size: 18px;*/
    /*margin-bottom: 15px;*/
/*}*/

/* line 77, assets/scss/style.scss */
/*p {*/
    /*font-size: 18px;*/
    /*line-height: 29px;*/
    /*margin-bottom: 30px;*/
    /*color: rgba(255, 255, 255, 0.85);*/
/*}*/
/* line 83, assets/scss/style.scss */
/*p a {*/
    /*color: rgba(255, 255, 255, 0.85);*/
    /*border-bottom: 2px solid rgba(255, 255, 255, 0.15);*/
    /*-webkit-transition: all .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
/*}*/
/* line 90, assets/scss/style.scss */
/*p a:hover {*/
    /*color: white;*/
    /*border-color: rgba(255, 255, 255, 0.25);*/
/*}*/

/* line 97, assets/scss/style.scss */
/*a {*/
    /*text-decoration: none;*/
/*}*/

/******************************
	Buttons
******************************/
/* line 104, assets/scss/style.scss */
.button {
    height: 34px;
    padding: 0 20px;
    color: white;
    line-height: 34px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    box-sizing: content-box;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
/* line 123, assets/scss/style.scss */
.button:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.1);
}
/* line 129, assets/scss/style.scss */
.button.twitter {
    height: 38px;
    color: white;
    text-shadow: 0 0 0 transparent !important;
    line-height: 38px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: #55ACEE;
    border: 0;
}
/* line 139, assets/scss/style.scss */
.button.twitter span {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 20px;
    background: url(images/icon-twitter.svg) no-repeat center center;
    margin: 0 7px 0 -10px;
}
/* line 148, assets/scss/style.scss */
.button.twitter:hover {
    background-color: #3c9de9;
}

/******************************
	Layout
******************************/
/* line 158, assets/scss/style.scss */
.container {
    display: table;
    height: 100vh;
    width: 100%;
}
/* line 163, assets/scss/style.scss */
.container .upper-section {
    padding-top: 0;
}
/* line 167, assets/scss/style.scss */
.container .lower-section {
    padding-bottom: 0;
}

/* line 171, assets/scss/style.scss */
.v-align {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

/* line 176, assets/scss/style.scss */
.upper-section {
    position: relative;
}
/* line 180, assets/scss/style.scss */
.upper-section .wrapper {
    position: relative;
    z-index: 50;
}

/* line 185, assets/scss/style.scss */
.gradient {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
    background-image: linear-gradient(-136deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.03) 100%);
    background-color: #292C37;
}

/* line 194, assets/scss/style.scss */
.lower-section {
    margin-top: -40px;
    z-index: 10;
    position: relative;
    background-color: #242731;
    padding: 90px 0 0 0;
}
/* line 201, assets/scss/style.scss */
.lower-section:before {
    z-index: 10;
    content: '';
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 175px;
    background: #242731;
    -webkit-transform: skewY(1.5deg);
    -moz-transform: skewY(1.5deg);
    -ms-transform: skewY(1.5deg);
    transform: skewY(1.5deg);
}
/* line 216, assets/scss/style.scss */
.lower-section * {
    position: relative;
    z-index: 50;
}
/* line 221, assets/scss/style.scss */
.lower-section .logo {
    vertical-align: middle;
    margin-right: 10px;
}
/* line 226, assets/scss/style.scss */
.lower-section .polyon-badge {
    margin: 0 18px;
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/* line 235, assets/scss/style.scss */
.lower-section .polyon-badge .polyon-logo {
    width: 36px;
    height: 42px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    background: url(images/polyon-logo.svg) no-repeat;
}
/* line 244, assets/scss/style.scss */
.lower-section .polyon-badge u {
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}
/* line 252, assets/scss/style.scss */
.lower-section .polyon-badge:hover {
    color: white;
}
/* line 255, assets/scss/style.scss */
.lower-section .polyon-badge:hover u {
    border-color: rgba(255, 255, 255, 0.25);
}
/* line 261, assets/scss/style.scss */
.lower-section .align-right {
    margin: 0 10px;
}
/* line 264, assets/scss/style.scss */
.lower-section .align-right .button {
    margin-left: 8px;
}

/******************************
	Form & Errors
******************************/
/* line 274, assets/scss/style.scss */
input[type=email], input[type=submit] {
    height: 48px;
    border: 0;
    padding: 0 18px;
    font-size: 16px;
    font-family: "proxima-nova", sans-serif;
    -webkit-appearance: none;
    float: left;
}

/* line 284, assets/scss/style.scss */
input[type=email] {
    width: 370px;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff4de;
    color: #ed4036;
}

/* line 291, assets/scss/style.scss */
input[type=submit] {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    color: #fff4de;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 100% 100%;
    background-color: #ed4036;
    font-weight: bold;
    margin-left: -2px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/* line 305, assets/scss/style.scss */
input[type=submit]:hover {
    background-color: #d22e0a;
}
/* line 309, assets/scss/style.scss */
input[type=submit].success {
    background-color: #78B112;
}

/* line 314, assets/scss/style.scss */
.note p {
    font-size: 14px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
/* line 322, assets/scss/style.scss */
.note p.error, .note p.succes {
    color: white;
    font-weight: 600;
}
/* line 327, assets/scss/style.scss */
.note p.error {
    background: url(images/icon-error.svg) no-repeat 0 center;
    padding-left: 20px;
}

/* line 1, assets/scss/_responsive.scss */
.wrapper {
    max-width: 92%;
}

/* line 5, assets/scss/_responsive.scss */
.col-preview img {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-height: 920px) and (min-width: 1024px) {
    /* line 12, assets/scss/_responsive.scss */
    .wrapper {
        width: 960px;
    }

    /* line 17, assets/scss/_responsive.scss */
    .upper-section .col-preview {
        width: 314px;
        height: 625px;
        background: url(images/app-preview.png) no-repeat center center;
        background-size: 100% auto;
    }
    /* line 25, assets/scss/_responsive.scss */
    .lower-section {
        padding-top: 130px;
        margin-top: -50px;
    }

    /* line 30, assets/scss/_responsive.scss */
    input[type=email], input[type=submit] {
        height: 52px;
    }
}
@media only screen and (min-height: 920px) and (min-width: 1024px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-height: 920px) and (min-width: 1024px) and (-o-min-device-pixel-ratio: 2.6 / 2), only screen and (min-height: 920px) and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-height: 920px) and (min-width: 1024px) and (min-device-pixel-ratio: 1.3), only screen and (min-height: 920px) and (min-width: 1024px) and (min-resolution: 1.3dppx) {
    /* line 17, assets/scss/_responsive.scss */
    .upper-section .col-preview {
        /* on retina, use image that's scaled by 2 */
        background-image: url("images/app-preview@2x.png");
        background-size: 50% "auto";
    }
}

@media only screen and (max-height: 740px) {
    /* line 36, assets/scss/_responsive.scss */
    .container {
        display: inherit !important;
        height: auto !important;
    }
    /* line 39, assets/scss/_responsive.scss */
    .container .v-align {
        display: inherit !important;
    }

    /* line 44, assets/scss/_responsive.scss */
    .upper-section {
        padding-top: 50px !important;
    }

    /* line 47, assets/scss/_responsive.scss */
    .lower-section {
        padding-bottom: 50px !important;
    }
}
@media only screen and (max-width: 1024px) {
    /* line 54, assets/scss/_responsive.scss */
    .container {
        display: inherit !important;
        height: auto !important;
    }
    /* line 58, assets/scss/_responsive.scss */
    .container .v-align {
        display: inherit !important;
    }

    /* line 63, assets/scss/_responsive.scss */
    .col-preview, .col-description {
        margin-left: 2%;
        margin-right: 2%;
    }

    /* line 68, assets/scss/_responsive.scss */
    .col-preview {
        width: 28%;
    }

    /* line 72, assets/scss/_responsive.scss */
    .col-description {
        width: 58%;
    }

    /* line 76, assets/scss/_responsive.scss */
    #mce-EMAIL {
        width: 70%;
    }

    /* line 80, assets/scss/_responsive.scss */
    #mce-EMAIL, #mc-embedded-subscribe {
        font-size: 10px;
        font-family: GothamLightRegular;
    }

    /* line 84, assets/scss/_responsive.scss */
    #mc-embedded-subscribe {
        width: 30%;
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
        text-align: center;
        font-family: GothamLightRegular;
    }

}

