<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin/merchants/dashboard">Hngre Admin</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>-->
        <!--<ul class="dropdown-menu message-dropdown">-->
        <!--<li class="message-preview">-->
        <!--<a href="#">-->
        <!--<div class="media">-->
        <!--<span class="pull-left">-->
        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
        <!--</span>-->
        <!--<div class="media-body">-->
        <!--<h5 class="media-heading"><strong><%= user.username %></strong>-->
        <!--</h5>-->
        <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="message-preview">-->
        <!--<a href="#">-->
        <!--<div class="media">-->
        <!--<span class="pull-left">-->
        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
        <!--</span>-->
        <!--<div class="media-body">-->
        <!--<h5 class="media-heading"><strong><%= user.username %></strong>-->
        <!--</h5>-->
        <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="message-preview">-->
        <!--<a href="#">-->
        <!--<div class="media">-->
        <!--<span class="pull-left">-->
        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
        <!--</span>-->
        <!--<div class="media-body">-->
        <!--<h5 class="media-heading"><strong><%= user.username %><</strong>-->
        <!--</h5>-->
        <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="message-footer">-->
        <!--<a href="#">Read All New Messages</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>-->
        <!--<ul class="dropdown-menu alert-dropdown">-->
        <!--<li>-->
        <!--<a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>-->
        <!--</li>-->
        <!--<li class="divider"></li>-->
        <!--<li>-->
        <!--<a href="#">View All</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</li>-->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= user.username %><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <!--<li>-->
                <!--<a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <li>
                    <a href="/admin/user/dashboard"><i class="fa fa-fw fa-power-off"></i> Users</a>
                </li>
                <li>
                    <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li >
                <a href="dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>

            <% if(page_status == "reviews"){ %>
                <li class="active">
                    <a href="/admin/merchants/reviews?count=10"><i class="fa fa-fw fa-pencil-square-o"></i> Reviews</a>
                </li>
            <%}else{%>
            <li>
                <a href="/admin/merchants/reviews?count=10""><i class="fa fa-fw fa-pencil-square-o"></i> Reviews</a>
            </li>
            <%}%>




            <% if(page_status == "Open" || page_status == "Archieved" || page_status == "Completed" || page_status == "open" || page_status == "completed") {%>

            <li>

                <a href="javascript:;" data-toggle="collapse" data-target="#demo" class="" aria-expanded="true" style="color:#ffffff;">

                    <i class="fa fa-fw fa-home-v"></i> My Projects <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse in" aria-expanded="true">
                    <li class="active">
                        <a href="/admin/merchants/open" <%if (page_status == "Open" || page_status == "open"){%>
                           style="color:#ffffff"
                           <%}%>>Open</a>
                    </li>
                    <li>
                        <a href="/admin/merchants/completed"<%if (page_status == "Completed" || page_status == "completed"){%>
                           style="color:#ffffff"
                                <%}%>>Completed</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="/admin/merchants/archived">Archived</a>-->
                    <!--</li>-->
                </ul>
            </li>
            <%}else{%>
            <li>

                <a href="javascript:;" data-toggle="collapse" data-target="#demo" class="collapsed" aria-expanded="false">

                    <i class="fa fa-fw fa-home"></i> My Projects <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse" aria-expanded="false" style="height: 0px;">
                    <li>
                        <a href="/admin/merchants/open">Open</a>
                    </li>
                    <li>
                        <a href="/admin/merchants/completed">Completed</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="archived">Archived</a>-->
                    <!--</li>-->
                </ul>
            </li>
            <%}%>

            <% if(page_status === "Crawled" || page_status== "pool"){%>
            <li class="active">
                <%}else{%>
            <li >
                <%}%>
                <a href="/admin/merchants/crawled"><i class="fa fa-fw fa-filter"></i> Crawled</a>
            </li>

    </div>
    <!-- /.navbar-collapse -->
</nav>