<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>WOOPSIE DAISY! Something went wrong!!!</title>
    <title>Hngre : Food discovered for you</title>
    <link rel="icon"
          type="image/png"
          href="images/favicon.ico">

    <style type="text/css">
        body{ margin:0; padding:0; background:#ed4036; font-family:GothamMediumRegular,Georgia, Times, Verdana, Geneva, Arial, Helvetica, sans-serif; }
        div#mother{ margin:0 auto; width:943px; height:572px; position:relative; }
        div#errorBox{ background: url(/images/bg-404.png) no-repeat top left; width:943px; height:572px; margin:auto; }
        div#errorText{ color:#39351e; padding:146px 0 0 446px }
        div#errorText p{ width:303px; font-size:14px; line-height:26px; }
        div.link{ /*background:#f90;*/ height:50px; width:145px; float:left; }
        div#home{ margin:20px 0 0 530px;}
        div#contact{ margin:20px 0 0 25px;}
        h1{ font-size:40px; margin-bottom:35px; }
        @font-face {
            font-family: 'GothamMediumRegular';
            src: url('/html/fonts/gotham-medium-webfont.eot');
            src: url('/html/fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-medium-webfont.woff') format('woff'), url('../fonts/gotham-medium-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }}
    </style>

    <script src="jquery.js"></script>
    <script type="text/javascript">
        $(document).ready( function(){

            var bodyHeight 		= $(window).height();
            var contentHeight	= $("#mother").height();
            var newHeight;

            if ( bodyHeight < contentHeight ){
                var newHeight = contentHeight - bodyHeight;

            } else {
                var newHeight = bodyHeight - contentHeight;

            }
            newHeight = newHeight / 2;

            $("body").css({marginTop:newHeight});

        });
    </script>

</head>
<body style="margin-top: 77px;">
<div id="mother">
    <div id="errorBox">
        <div id="errorText">
            <h1>Woopsie!</h1>
            <p>
                Looks like something went horribly wrong on the internet or you have just ran out of luck!<br>


            </p>
            <h2 style="font-size: 18px">Either ways, <span style="color:ed4036">take a break,</span> you deserve it</h2>
            <p>

            </p>
        </div>
        <a href="/" title="Home...">
            <div class="link" id="home"></div>
        </a>

    </div>
</div>


</body></html>