/**
* Created by Partinder on 2/10/15.
*/
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hngre Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <% include partials/left_nav.ejs%>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Completed Merchants : <%= total_merchants%>  <!--<small>Statistics Overview</small>-->
                    </h1>
                    <!--<ol class="breadcrumb">-->
                    <!--<li class="active">-->
                    <!--<i class="fa fa-dashboard"></i> Crawled merchants-->
                    <!--</li>-->
                    <!--</ol>-->
                </div>
            </div>
            <!-- /.row -->



            <!--Stat Search Area-->

            <center>
                <div class="row">



                    <form method="get" action="/admin/merchants/completed" class="form-inline" id="quicksearch">
                        <div class="col-lg-10" style="margin-bottom: 30px">

                            <input type="text" class="form-control" name="search" placeholder="Search" style="width: 90%" id="search-query">

                            <button type="submit" class="btn btn-primary" id="quicksearch">Search</button>

                        </div>


                        <!--<div class="col-md-10" style="margin-bottom: 30px">-->
                        <!--<label class="radio-inline">-->
                        <!--<input type="radio" name="sort" id="inlineRadio1" value="yelp[review_count]" onclick="javascript: submit()"> Yelp Review Count-->
                        <!--</label>-->
                        <!--<label class="radio-inline">-->
                        <!--<input type="radio" name="sort" id="inlineRadio2" value="yelp[rating]" onclick="javascript: submit()"> Yelp Rating-->
                        <!--</label>-->

                        <!--</div>-->



                    </form>


                </div>

            </center>
            <% if(search_query){%>
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-success" role="alert">Showing results for : <span style="font-size: 14px;font-weight: bold; color: #000000"><%= search_query%></div>

                </div>
            </div>

            <%}%>
            <!--End Search Area-->
            <!--Start restaurant listing area-->
            <form method="post" action="/admin/merchants/crawled" id="#openprojects">


                <!--<div class="col-md-12" style="margin-bottom: 20px">-->
                <!--<%if(page_status === "Crawled"){%>-->
                <!--<div class="col-md-2">-->
                <!--<div class="checkbox">-->
                <!--<label>-->
                <!--<input type="checkbox" name="open_projects_all" id="selectall"  >-->
                <!--Open All-->
                <!--</label>-->
                <!--</div>-->

                <!--</div>-->

                <!--<div class="col-md-10">-->
                <!--<button type="submit" class="btn btn-primary">Open Projects</button>-->
                <!--</div>-->
                <!--<%}%>-->

                <!--</div>-->




                <div class="row">

                    <% merchants.forEach(function(merchant){ %>
                    <div class="col-lg-4">
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-8" >
                                        <h3 class="panel-title" style="vertical-align: middle;padding-top: 5px"><a href=<%=merchant._id%>><%= merchant.name %></a></h3>
                                    </div>
                                    <div class="col-xs-3">

                                        <%if(merchant.yelp.review_count){%>
                                        <span class="span-review"><%= merchant.yelp.review_count%></span>
                                        <%}%>


                                    </div>
                                    <div class="col-xs-1" >

                                        <%if(merchant.yelp.rating){%>
                                        <span class="span-rating"><%= merchant.yelp.rating%></span>
                                        <%}%>


                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" >
                                <div class="list-group" style="min-height:150px">
                                    <p><%=merchant._id%></p>
                                    <%if(merchant.address.street_address){%>
                                    <p><%= merchant.address.street_address%></p>
                                    <%}%>
                                    <% if(merchant.address.neighbourhood){%>
                                    <p>
                                        <% merchant.address.neighbourhood.forEach(function(hoods){ %>
                                        <%if(merchant.address.neighbourhood.length === 1){ %>
                                        <span ><%= hoods%></span>
                                        <%}else{%>
                                        <span><%= hoods + ", "%></span>
                                        <%}%>
                                        <% })%>
                                    </p>

                                    <%}%>
                                    <%if(merchant.url){%>
                                    <p><a target="_blank" href=<%= "http://"+ merchant.url%>><%= merchant.url%></a></p>
                                    <%}%>

                                    <%if(merchant.address.zip){%>
                                    <p><%= merchant.address.zip%></p>
                                    <%}%>

                                    <%if(merchant.yelp.link){%>
                                    <p><a target="_blank" href=<%=merchant.yelp.link%> >Yelp Link</a></p>
                                    <%}%>
                                </div>

                                <% if(page_status === "Crawled"){%>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="open_projects" class="checkbox1" value=<%= merchant._id %> />
                                        Open Project
                                    </label>
                                </div>
                                <%}%>



                                <div class="text-right">
                                    <a href=<%=merchant._id%>>View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% })%>
                    <!--<div class="col-lg-12">-->
                    <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                    <!--<div id="morris-area-chart"></div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>



            </form>
            <!--End restaurant listing area-->

            <center>
                <% if(total_pages > 1) {%>
                <div class="row">
                    <nav >
                        <ul class="pagination pagination-md" >

                            <% if(has_previous ===true) {%>
                            <% var has_previous_page = parseInt(start_page)-1 %>

                            <% if(search_query ){%>
                            <li><a href=<%= "?search="+search_query+"&page="+1 %>>First</a></li>

                            <li>
                                <a href=<%= "?search="+search_query+"&page="+has_previous_page %> aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <%}else {%>
                            <li><a href=<%= "?page="+1 %>>First</a></li>
                            <li>
                                <a href=<%= "?page="+has_previous_page %> aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <%}%>


                            <%}%>


                            <% if(search_query){%>
                            <% for(var i = start_page; i < end_page+1; i++) { %>
                            <% if(i === current_page) { %>
                            <li class="active">
                                <a href=<%= "?search="+search_query+"&page="+i %>><%=i%></a>
                            </li>
                            <% } else {%>
                            <li>
                                <a href=<%= "?search="+search_query+"&page="+i %>><%=i%></a>
                            </li>
                            <%}%>

                            <%}%>
                            <%}else{%>
                            <% for(var i = start_page; i < end_page+1; i++) { %>
                            <% if(i === current_page) { %>
                            <li class="active">
                                <a href=<%= "?page="+i %>><%=i%></a>
                            </li>
                            <% } else {%>
                            <li>
                                <a href=<%= "?page="+i %>><%=i%></a>
                            </li>
                            <%}%>

                            <%}%>

                            <%}%>

                            <% if(has_next ===true) {%>
                            <% var has_next_page = parseInt(end_page)+1 %>

                            <% if(search_query){%>

                            <li>
                                <a href=<%= "?search="+search_query+"&page="+has_next_page%> aria-label="Previous">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li><a href=<%= "?search="+search_query+"&page="+total_pages %>>Last</a></li>

                            <%}else {%>


                            <li>
                                <a href=<%= "?page="+has_next_page%> aria-label="Previous">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li><a href=<%= "?page="+total_pages %>>Last</a></li>

                            <%}%>


                            <%}%>



                        </ul>
                    </nav>
                </div>



        </div>
        <% } %>
        </center>





    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<script>
    console.log(<%= start_page %>)
    console.log(<%= end_page%>)
    console.log(<%= total_pages%>)


</script>

<script>
    $(document).ready(function() {
        $('#selectall').click(function(event) {  //on click
            if(this.checked) { // check select status
                $('.checkbox1').each(function() { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"
                });
            }else{
                $('.checkbox1').each(function() { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"
                });
            }
        });

    });
</script>


<!-- Morris Charts JavaScript
<script src="/js/plugins/morris/raphael.min.js"></script>
<script src="/js/plugins/morris/morris.min.js"></script>
<script src="/js/plugins/morris/morris-data.js"></script>
-->

<script>

    $(function () {



        $("#search-query").autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: "/search",
                    type: "GET",
                    data: request,  // request is the value of search input
                    //prePopulate: $.parseJSON(response),
                    success: function (data) {
                        console.log(data)
                        data = $.parseJSON(data)
                        // Map response values to fiedl label and value
                        response($.map(data, function (el) {
                            //console.log(el)
                            //alert(ui.item.label)
                            return {
                                label: el.label,
                                value: el._id
                            };
                        }));
                    }
                });
            },

            // The minimum number of characters a user must type before a search is performed.
            minLength: 3,

            // set an onFocus event to show the result on input field when result is focused
            focus: function (event, ui) {
                this.value = ui.item.label;
                // Prevent other event from not being execute
                event.preventDefault();
            },
            select: function (event, ui) {
                // Prevent value from being put in the input:
                this.value = ui.item.label;

                // Set the id to the next input hidden field
                $(this).next("input").val(ui.item.value);
                // Prevent other event from not being execute
                event.preventDefault();
                // optionnal: submit the form after field has been filled up
                $('#quicksearch').submit();
            }
        });

    });
</script>


</body>

</html>
