<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hngre Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script>
        function isEmpty(obj) {
            for(var prop in obj) {
                if(obj.hasOwnProperty(prop))
                    return false;
            }

            return true;
        }

    </script>


    <![endif]-->

    <style>
        #imagePreview {
            width: 180px;
            height: 180px;
            background-position: center center;
            background-size: cover;
            -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
            display: inline-block;
        }
    </style>

</head>

<body>

<!-- / Start wrapper -->
<div id="wrapper">

    <!-- Navigation Start -->
    <% include partials/left_nav.ejs%>
    <!-- Navigation End-->

    <!-- / Start page-wrapper -->
    <div id="page-wrapper">

        <!-- / Start container-fluid -->
        <div class="container-fluid">

            <!-- Page Heading Start -->
            <div class="row">

                    <div class="col-lg-4">
                        <h2 class="page-header">
                            <a href=<%= "/admin/merchants/"+ merchant._id %> ><%= merchant.name %></a>
                              <!--<small>Statistics Overview</small>-->
                        </h2>
                    </div>
                    <div class="col-lg-4">
                        <h2 class="page-header">
                            <%= dish.name%>
                        </h2>
                    </div>


                        <div class="col-lg-4">
                            <form method="get"  action="">
                                <select class="form-control" name="dish_id" onchange="this.form.submit()" style="margin-top:40px">
                                    <% merchant.dishes.forEach(function(dishlist){ %>
                                    <% var aq, bq,cq = ""%>
                                    <% if(dishlist._id.toString() === dish._id.toString()){ %>
                                    <% aq = "selected"}%>
                                    <% if (dishlist.approve_status === "true" || dishlist.approve_status == 1){%>
                                        <% cq= " (Approved)" %>
                                    <%}else{%>
                                        <% cq= " (Discarded)" %>
                                    <%}%>

                                    <option value= <%= dishlist._id%> <%= aq %> > <%=dishlist.name+cq%>  </option>
                                    <%})%>
                                </select>

                            </form>
                        </div>

            </div>
            <!--Page Heading End-->

            <!--Page Content Starts-->
            <form class="form-horizontal" role="form" action="" method="post" id="form1" enctype="multipart/form-data">
                <div class="row">
                    <!--Column One Starts-->
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Dish</div>
                                <div class="panel-body">


                                    <div class="row" style="margin-bottom:20px">
                    <center>

                        <button class="btn btn-lg btn-primary" type="submit">Update/ Save</button>
                    </center>

                </div>


                                    <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">Name</label>
                                        <div class="col-sm-9">
                                            <input type ="text" class="form-control" name="name" value='<%= dish.name %>' required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="cost" class="col-sm-3 control-label">Cost</label>
                                        <div class="col-sm-9">
                                            <input type ="text" class="form-control" name="cost" value='<%= dish.cost.value %>'>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">Veg Type</label>
                                        <div class="col-sm-9">
                                            <% var aa,bb,cc =""%>
                                            <% if(dish.veg_type == 1){aa = "checked"}%>
                                            <% if(dish.veg_type == 2){bb = "checked"}%>
                                            <% if(dish.veg_type == 3){cc = "checked"}%>
                                            <label class="radio-inline">
                                                <input type="radio" name="veg_type" value="1" <%=aa%> > Vegan
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="veg_type" value="2" <%=bb%>> Vegetarian
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="veg_type"  value="3" <%=cc%>> Non-Vegetarian
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="course" class="col-sm-3 control-label">Course</label>
                                        <div class="col-sm-9">
                                            <% var aw,bw =""%>
                                            <% if(typeof dish.course === "object"){%>
                                                <% if(dish.course.indexOf("Starter") !== -1){aw = "checked"}%>
                                                <% if(dish.course.indexOf("Mains") !== -1){bw = "checked"}%>
                                            <%}%>

                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="course" name="course" value="Starter" <%=aw%>> Starter
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="course" name="course" value="Mains" <%=bw%>> Mains
                                            </label>



                                        </div>
                                    </div>

                                    <div class="form-group">
                                            <label for="name" class="col-sm-3 control-label">Description</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" name="description" rows="3"><%= dish.description ? dish.description  : '' %></textarea>
                                            </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ingredients" class="col-sm-3 control-label">Cuisine</label>
                                        <div class="col-sm-9">
                                            <select  multiple data-role="tagsinput" name="cuisine" id="cuisine">
                                                <% if(typeof dish.cuisine === "object") {%>
                                                <% dish.cuisine.forEach(function (dish1) { %>
                                                <option value='<%= dish1 %>'><%= dish1 %></option>
                                                <%})%>
                                                <%} else {%>
                                                <option value=" " ></option>
                                                <%}%>
                                            </select>
                                        </div>
                                    </div>

                                    <!--<div class="form-group">-->
                                        <!--<label for="name" class="col-sm-3 control-label">Sub Cuisine</label>-->
                                        <!--<div class="col-sm-9">-->
                                            <!--<input type ="text" class="form-control" name="sub_cuisine" value='<%= dish.sub_cuisine ? dish.sub_cuisine  : '' %>' >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <div class="form-group" >
                                        <label for="ingredients" class="col-sm-3 control-label">Ingredients</label>
                                        <div class="col-sm-9">
                                            <select  multiple data-role="tagsinput" name="ingredients" id="ingredients">
                                                <% if(typeof dish.ingredients === "object") {%>
                                                    <% dish.ingredients.forEach(function (ingredient) { %>
                                                        <option value='<%= ingredient %>'><%= ingredient %></option>
                                                <%})%>
                                                <%} else {%>
                                                    <option value="" ></option>
                                                <%}%>
                                            </select>
                                        </div>
                                    </div>








                                    <div class="form-group">
                                        <label for="tags" class="col-sm-3 control-label">Tags</label>
                                        <div class="col-sm-9">
                                            <select  multiple data-role="tagsinput" name="tags" id="tags">
                                                <% if(typeof dish.tags === "object") {%>
                                                    <% dish.tags.forEach(function (tag) { %>
                                                        <option value='<%= tag %>'><%= tag %></option>
                                                <%})%>
                                                <%} else {%>
                                                    <option value=""></option>
                                                <%}%>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="influencers" class="col-sm-3 control-label">Influencers</label>
                                        <div class="col-sm-9">
                                            <select  multiple data-role="tagsinput" name="influencers" id="influencers">
                                                <% if(typeof dish.influencers === "object") {%>
                                                    <% dish.influencers.forEach(function (influencer) { %>
                                                        <option value='<%= influencer %>'><%= influencer %></option>
                                                <%})%>
                                                <%} else {%>
                                                    <option value=""></option>
                                                <%}%>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">Approve Status</label>
                                        <div class="col-sm-9">
                                            <% var astat,bstat =""%>
                                            <% if (dish.approve_status == 'true' || dish.approve_status == 1){ astat = "checked"}%>
                                            <% if (dish.approve_status == 'false' || dish.approve_status == 0){ bstat = "checked"}%>
                                            <label class="radio-inline">
                                                <input type="radio" name="approve_status" value="true" <%=astat%>> Approved
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="approve_status" value="false" <%= bstat%>> Not Approved
                                            </label>

                                        </div>
                                    </div>



                                </div>
                        </div>

                    </div>
                    <!--Column One Ends-->
                    <!--Column Two Starts-->
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Dish Image</div>

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">



                                                <div class="col-md-12">

                                                    <% if(dish.photo) {%>
                                                    <a href=<%=dish.photo.ios%> class="thumbnail">
                                                        <img id="blah" src=<%=dish.photo.ios%> >
                                                        </a>
                                                        <%}else{%>
                                                        <a href="https://s3.amazonaws.com/hngredishes/images.png" class="thumbnail">
                                                            <img id="blah"src="https://s3.amazonaws.com/hngredishes/images.png" >


                                                        </a>
                                                        <%}%>

                                                    <input type='file' id="imgInp" name="dish_image"/>

                                                </div>


                                            </div>
                                        </div>








                                    </div>



                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Dish Index</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="control-label">Fat:</label>
                                            <% var a3,b3,c3,d3,e3 =""%>
                                            <% if(dish.index.fat == "1"){a3 = "selected"}%>
                                            <% if(dish.index.fat== "2"){b3 = "selected"}%>
                                            <% if(dish.index.fat == "3"){c3 = "selected"}%>
                                            <% if(dish.index.fat == "4"){d3 = "selected"}%>
                                            <% if(dish.index.fat == "5"){e3 = "selected"}%>
                                            <select class="form-control" name="index[fat]">
                                                <option value="1" <%=a3%>>1 / No fat content</option>
                                                <option value="2" <%=b3%>>2 / Low fat content</option>
                                                <option value="3" <%=c3%>>3 / Moderate fat content</option>
                                                <option value="4" <%=d3%>>4 / High Fat content</option>
                                                <option value="5" <%=e3%>>5 / Very high fat content</option>
                                            </select>
                                        </div>

                                        <div class="col-lg-6">
                                            <label class="control-label">Umami:</label>
                                            <% var a4,b4,c4,d4,e4 =""%>
                                            <% if(dish.index.umami == "1"){a4 = "selected"}%>
                                            <% if(dish.index.umami == "2"){b4 = "selected"}%>
                                            <% if(dish.index.umami == "3"){c4 = "selected"}%>
                                            <% if(dish.index.umami == "4"){d4 = "selected"}%>
                                            <% if(dish.index.umami == "5"){e4 = "selected"}%>
                                            <select class="form-control" name="index[umami]">
                                                <option value="1" <%=a4%>>1 / No umami content</option>
                                                <option value="2" <%=b4%>>2 / Low umami content</option>
                                                <option value="3" <%=c4%>>3 / Moderate umami content</option>
                                                <option value="4" <%=d4%>>4 / High umami content</option>
                                                <option value="5" <%=e4%>>5 / Very high umami content</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-lg-6">
                                            <label class="control-label">Sweet:</label>
                                            <% var a5,b5,c5,d5,e5 =""%>
                                            <% if(dish.index.sweet == "1"){a5 = "selected"}%>
                                            <% if(dish.index.sweet == "2"){b5 = "selected"}%>
                                            <% if(dish.index.sweet == "3"){c5 = "selected"}%>
                                            <% if(dish.index.sweet == "4"){d5 = "selected"}%>
                                            <% if(dish.index.sweet == "5"){e5 = "selected"}%>
                                            <select class="form-control" name="index[sweet]">
                                                <option value="1" <%=a5%>>1 / No sweet content</option>
                                                <option value="2" <%=b5%>>2 / Low sweet content</option>
                                                <option value="3" <%=c5%>>3 / Moderate sweet content</option>
                                                <option value="4" <%=d5%>>4 / High sweet content</option>
                                                <option value="5" <%=e5%>>5 / Very high sweet content</option>
                                            </select>
                                        </div>

                                        <div class="col-lg-6">
                                            <label class="control-label">Sour:</label>
                                            <% var a6,b6,c6,d6,e6 =""%>
                                            <% if(dish.index.sour == "1"){a6 = "selected"}%>
                                            <% if(dish.index.sour == "2"){b6 = "selected"}%>
                                            <% if(dish.index.sour == "3"){c6 = "selected"}%>
                                            <% if(dish.index.sour == "4"){d6 = "selected"}%>
                                            <% if(dish.index.sour == "5"){e6 = "selected"}%>
                                            <select class="form-control" name="index[sour]">
                                                <option value="1" <%=a6%>>1 / No sour content</option>
                                                <option value="2" <%=b6%>>2 / Low sour content</option>
                                                <option value="3" <%=c6%>>3 / Moderate sour content</option>
                                                <option value="4" <%=d6%>>4 / High sour content</option>
                                                <option value="5" <%=e6%>>5 / Very high sour content</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="row"style="margin-top: 20px">
                                        <div class="col-lg-6">
                                            <label class="control-label">Chilly:</label>
                                            <% var a7,b7,c7,d7,e7 =""%>
                                            <% if(dish.index.chilly == "1"){a7 = "selected"}%>
                                            <% if(dish.index.chilly == "2"){b7 = "selected"}%>
                                            <% if(dish.index.chilly == "3"){c7 = "selected"}%>
                                            <% if(dish.index.chilly == "4"){d7 = "selected"}%>
                                            <% if(dish.index.chilly == "5"){e7 = "selected"}%>
                                            <select class="form-control" name="index[chilly]">
                                                <option value="1" <%=a7%>>1 / Bland</option>
                                                <option value="2" <%=b7%>>2 / Mild</option>
                                                <option value="3" <%=c7%>>3 / Medium</option>
                                                <option value="4" <%=d7%>>4 / Hot</option>
                                                <option value="5" <%=e7%>>5 / Very Hot</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="control-label">Texture:</label>
                                            <% var a8,b8,c8,d8,e8 =""%>
                                            <% if(dish.index.texture == "1"){a8 = "selected"}%>
                                            <% if(dish.index.texture == "2"){b8 = "selected"}%>
                                            <% if(dish.index.texture == "3"){c8 = "selected"}%>
                                            <% if(dish.index.texture == "4"){d8 = "selected"}%>
                                            <% if(dish.index.texture == "5"){e8 = "selected"}%>
                                            <select class="form-control" name="index[texture]">
                                                <option value="1" <%=a8%>>1 / Gooey</option>
                                                <option value="2" <%=b8%>>2 / Soft</option>
                                                <option value="3" <%=c8%>>3 / Medium</option>
                                                <option value="4" <%=d8%>>4 / Crispy</option>
                                                <option value="5" <%=e8%>>5 / Crunchy</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="row"style="margin-top: 20px">
                                        <div class="col-lg-6">
                                            <label class="control-label">Cookedness:</label>
                                            <% var a9,b9,c9,d9,e9 =""%>
                                            <% if(dish.index.cookedness == "1"){a9 = "selected"}%>
                                            <% if(dish.index.cookedness == "2"){b9 = "selected"}%>
                                            <% if(dish.index.cookedness == "3"){c9 = "selected"}%>
                                            <% if(dish.index.cookedness == "4"){d9 = "selected"}%>
                                            <% if(dish.index.cookedness == "5"){e9 = "selected"}%>
                                            <select class="form-control" name="index[cookedness]">
                                                <option value="1" <%=a9%>>1 / Complete Raw</option>
                                                <option value="2" <%=b9%>>2 / Mostly Raw</option>
                                                <option value="3" <%=c9%>>3 / Moderate</option>
                                                <option value="4" <%=d9%>>4 / Mostly Cooked</option>
                                                <option value="5" <%=e9%>>5 / Well Cooked</option>
                                            </select>
                                        </div>

                                    </div>






                                </div>
                        </div>
                    </div>
                    <!--Column Two ends-->

                </div>
                

            </form>
            <div class="row">
                <center>
                <form method="POST" action="?_method=DELETE">
                    <button cla class="btn btn-lg btn-danger" type="submit" style="margin-top: 40px" >Delete Dish</button>
                </form>
                </center>
            </div>



            <!--Page content (ROW) Ends-->

        </div>
        <!-- / End container-fluid -->

    </div>
    <!-- /End page-wrapper -->
</div>
<!-- / End wrapper -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<script src="/js/bootstrap-tagsinput.js"></script>
<script src="/js/typeahead.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>



<!-- Morris Charts JavaScript
<script src="/js/plugins/morris/raphael.min.js"></script>
<script src="/js/plugins/morris/morris.min.js"></script>
<script src="/js/plugins/morris/morris-data.js"></script>
-->

<script>

    $(function() {
        //alert("test")

        var $form = $('#form1');



        var startItems = convertSerializedArrayToHash($form.serializeArray());

        //alert(JSON.stringify(startItems));

        $form.submit(function(e){
            //alert('submit')

            var currentItems = convertSerializedArrayToHash($form.serializeArray());
            var itemsToSubmit = hashDiff( startItems, currentItems);

            //alert(JSON.stringify(itemsToSubmit));
            //e.preventDefault()
//
//            $.post($form.attr('action'), itemsToSubmit, function(data){
//              alert(OK)
//
//
//            })


            <!--$('#finalform').append($(input1));-->

            //$('#finalform').submit()

            return true


        })

    });

    function hashDiff(h1, h2) {


        var d = {};
        for (k in h2) {

            if (h1[k] !== h2[k])
            {

                var input = $("<input>")
                        .attr("type", "hidden")
                        .attr("name", k).val(h2[k]);
                $('#finalform').append($(input));

                //finalform.append()
                d[k] = h2[k];
            }


        }


        return d;
    }

    function convertSerializedArrayToHash(a) {
        var r = {};
        for (var i = 0;i<a.length;i++) {
            r[a[i].name] = a[i].value;
        }
        return r;
    }

</script>

<script>

    $(function () {

        $("#search-query").autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: "/search",
                    type: "GET",
                    data: request,  // request is the value of search input
                    //prePopulate: $.parseJSON(response),
                    success: function (data) {
                        //console.log(data)
                        data = $.parseJSON(data)
                        // Map response values to fiedl label and value
                        response($.map(data, function (el) {
                            //console.log(el)
                            //alert(ui.item.label)
                            return {
                                label: el.label,
                                value: el._id
                            };
                        }));
                    }
                });
            },

            // The minimum number of characters a user must type before a search is performed.
            minLength: 3,

            // set an onFocus event to show the result on input field when result is focused
            focus: function (event, ui) {
                this.value = ui.item.label;
                // Prevent other event from not being execute
                event.preventDefault();
            },
            select: function (event, ui) {
                // Prevent value from being put in the input:
                this.value = ui.item.label;

                // Set the id to the next input hidden field
                $(this).next("input").val(ui.item.value);
                // Prevent other event from not being execute
                event.preventDefault();
                // optionnal: submit the form after field has been filled up
                $('#quicksearch').submit();
            }
        });

    });
</script>



<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });
</script>





</body>

</html>
