<!DOCTYPE html>
<html>
  <head>
    <title>Hngre Admin</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />

  </head>
  <body>
  <div class="container">
    <center><h1>Hngre Admin</h1></center>


    <form class="form-signin" role="form" action="" method="post">
      <h2 class="form-signin-heading">Please sign in</h2>

      <% if( message) { %>

      <h6 style="color:#337ab7"><%= message %></h6>

      <% } %>

      <input type="text" name="username" placeholder="Enter Username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>

      <input type="password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox">

      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <div class="col-md-6" style="float:right; margin-top:10px; padding: 0px"><a style="float:right" href="/forgot">Forgot Password</a></div>
    </form>



  </div>

  </div>

  </body>
</html>
