<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS70p3_-ZjeMR2rWqWApxM26fjZgr10D0">
    </script>
    <script type="text/javascript">
        function initialize() {


            var mapOptions = {
                zoom: 13,
                center: new google.maps.LatLng(40.7470,-73.9860 )
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
                var mer = <%= JSON.locs %>
                    console.log(mer)
            setMarkers(map, beaches)
        }

        /**
         * Data for the markers consisting of a name, a LatLng and a zIndex for
         * the order in which these markers should display on top of each
         * other.
         */
        var beaches = [ [ 40.730961, -73.990287, 1 ],
            [ 40.722283, -73.98747, 2 ],
            [ 40.76175596, -73.97922993, 3 ],
            [ 40.74140002, -73.98815019, 4 ],
            [ 40.721501, -73.995742, 5 ],
            [ 40.7145615, -73.9969239, 6 ],
            [ 40.7316048, -73.9839052, 7 ],
            [ 40.764519, -73.987562, 8 ],
            [ 40.722998, -73.994171, 9 ],
            [ 40.761853, -73.964903, 10 ],
            [ 40.721128, -73.983933, 11 ],
            [ 40.7214961, -73.9887357, 12 ],
            [ 40.7211429, -73.9881649, 13 ],
            [ 40.74312, -74.007185, 14 ],
            [ 40.741941, -74.00494, 15 ],
            [ 40.7808343, -73.976566, 16 ],
            [ 40.8181246, -73.9608315, 17 ],
            [ 40.74056759, -73.99807479, 18 ],
            [ 40.7302281, -74.0004194, 19 ],
            [ 40.7357181, -74.0067583, 20 ],
            [ 40.730283, -73.983914, 21 ],
            [ 40.727399, -74.000196, 22 ],
            [ 40.764193, -73.981415, 23 ],
            [ 40.7405257, -74.0060769, 24 ],
            [ 40.758389, -73.9893589, 25 ],
            [ 40.7320487, -73.996428, 26 ],
            [ 40.78307616, -73.97349373, 27 ],
            [ 40.732283, -73.999284, 28 ],
            [ 40.743549, -73.983523, 29 ],
            [ 40.737698, -73.989708, 30 ],
            [ 40.7438595, -73.9815447, 31 ],
            [ 40.72901603, -73.98710509, 32 ],
            [ 40.7608279, -73.989807, 33 ],
            [ 40.7626186, -73.971395, 34 ],
            [ 40.763186, -73.98169, 35 ],
            [ 40.76018525, -73.99116757, 36 ],
            [ 40.757368, -73.986197, 37 ],
            [ 40.744407, -73.987929, 38 ],
            [ 40.7269684, -73.9852868, 39 ],
            [ 40.719372, -73.987731, 40 ],
            [ 40.7310675, -73.9886217, 41 ],
            [ 40.7368461, -73.9905379, 42 ],
            [ 40.7341226, -73.9932392, 43 ],
            [ 40.720367, -73.986774, 44 ],
            [ 40.7643644, -73.988165, 45 ],
            [ 40.732343, -74.002221, 46 ],
            [ 40.759568, -73.982074, 47 ],
            [ 40.7243827, -73.9922737, 48 ],
            [ 40.7690686, -73.9815605, 49 ],
            [ 40.742158, -73.9838259, 50 ],
            [ 40.7160233, -73.9972907, 51 ],
            [ 40.7508231, -73.9868793, 52 ],
            [ 40.726267, -73.983742, 53 ],
            [ 40.74579388, -73.98807049, 54 ],
            [ 40.727886, -73.98539, 55 ],
            [ 40.8080597, -73.9449395, 56 ],
            [ 40.7322022, -74.0034798, 57 ],
            [ 40.732592, -74.002797, 58 ],
            [ 40.7345366, -73.9918638, 59 ],
            [ 40.772152, -73.955558, 60 ],
            [ 40.73671455, -73.99084986, 61 ],
            [ 40.7282979, -73.9912591, 62 ],
            [ 40.727607, -74.000043, 63 ],
            [ 40.7457963, -74.0055256, 64 ],
            [ 40.764291, -73.988206, 65 ],
            [ 40.766859, -73.967607, 66 ],
            [ 40.767288, -73.981112, 67 ],
            [ 40.765093, -73.976157, 68 ],
            [ 40.7791846, -73.9548697, 69 ],
            [ 40.785293, -73.972622, 70 ],
            [ 40.73238083, -74.005301, 71 ],
            [ 40.7859436, -73.97278596, 72 ],
            [ 40.7381917, -73.9908512, 73 ],
            [ 40.7305739, -74.0069358, 74 ],
            [ 40.7289507, -73.9888188, 75 ],
            [ 40.731542, -74.002928, 76 ],
            [ 40.73891, -73.994017, 77 ],
            [ 40.7224372, -73.9942824, 78 ],
            [ 40.7431047, -74.0076886, 79 ],
            [ 40.728444, -73.9921169, 80 ],
            [ 40.7567996, -73.9850527, 81 ],
            [ 40.7359747, -73.9873063, 82 ],
            [ 40.7327911, -74.0032641, 83 ],
            [ 40.7749164, -73.9543954, 84 ],
            [ 40.719518, -74.008891, 85 ],
            [ 40.73837639, -73.98576379, 86 ],
            [ 40.713551, -73.997158, 87 ],
            [ 40.73052819, -73.98329138, 88 ],
            [ 40.73592673, -73.98716386, 89 ],
            [ 40.7270353, -73.9842018, 90 ],
            [ 40.7296294, -73.9878842, 91 ],
            [ 40.7405646, -74.0069581, 92 ],
            [ 40.7270076, -73.9885473, 93 ],
            [ 40.7368908, -73.9914644, 94 ],
            [ 40.729081, -73.99882, 95 ],
            [ 40.7387855, -73.9944905, 96 ],
            [ 40.774627, -73.958697, 97 ],
            [ 40.740296, -73.993696, 98 ],
            [ 40.732386, -73.985791, 99 ],
            [ 40.7622635, -73.987885, 100 ],
            [ 40.733714, -74.005068, 101 ],
            [ 40.7557342, -73.970193, 102 ],
            [ 40.74203804, -73.98444782, 103 ],
            [ 40.743193, -73.989275, 104 ],
            [ 40.742673, -73.999707, 105 ],
            [ 40.72969, -74.000629, 106 ],
            [ 40.7380664, -73.9886932, 107 ],
            [ 40.7270829, -73.9880237, 108 ],
            [ 40.7690686, -73.9815605, 109 ],
            [ 40.729008, -73.980558, 110 ],
            [ 40.726948, -73.98612, 111 ],
            [ 40.7302668, -73.9839376, 112 ],
            [ 40.7344577, -73.9933511, 113 ],
            [ 40.75039532, -73.97582893, 114 ],
            [ 40.76150338, -73.96743631, 115 ],
            [ 40.76882957, -73.98236543, 116 ],
            [ 40.7344291, -73.9987695, 117 ],
            [ 40.7648963, -73.9883758, 118 ],
            [ 40.7313815, -74.0021088, 119 ],
            [ 40.7307803, -73.9855902, 120 ],
            [ 40.7377708, -73.9878247, 121 ],
            [ 40.72346, -73.9963118, 122 ],
            [ 40.7649114, -73.9748836, 123 ],
            [ 40.78497, -73.9772182, 124 ],
            [ 40.73908733, -74.00563097, 125 ],
            [ 40.7389343, -73.9896316, 126 ],
            [ 40.728589, -73.988084, 127 ],
            [ 40.783874, -73.977416, 128 ],
            [ 40.7442007, -74.0066648, 129 ],
            [ 40.757806, -73.989597, 130 ],
            [ 40.7627488, -73.9759132, 131 ],
            [ 40.77121538, -73.98308161, 132 ],
            [ 40.7381061, -73.9880919, 133 ],
            [ 40.7455179, -74.002359, 134 ],
            [ 40.726934, -73.994404, 135 ],
            [ 40.743193, -73.990838, 136 ],
            [ 40.737643, -73.991051, 137 ],
            [ 40.7581836, -73.962662, 138 ],
            [ 40.72976593, -74.00376653, 139 ],
            [ 40.740081, -73.9887509, 140 ],
            [ 40.75938302, -73.98562431, 141 ],
            [ 40.7637978, -73.9764322, 142 ],
            [ 40.780428, -73.976229, 143 ],
            [ 40.80579758, -73.96567535, 144 ],
            [ 40.7606024, -73.9919238, 145 ],
            [ 40.7309328, -73.9833535, 146 ],
            [ 40.734459, -74.009796, 147 ],
            [ 40.7715145, -73.9819129, 148 ],
            [ 40.7605185, -73.976043, 149 ],
            [ 40.771434, -73.959146, 150 ],
            [ 40.739421, -73.986014, 151 ],
            [ 40.750228, -73.983714, 152 ],
            [ 40.74689932, -73.98465872, 153 ],
            [ 40.747889, -73.986656, 154 ],
            [ 40.7331901, -74.004509, 155 ],
            [ 40.7635409, -73.986538, 156 ],
            [ 40.7425612, -73.992267, 157 ],
            [ 40.776257, -73.956534, 158 ],
            [ 40.7638123, -73.98058, 159 ],
            [ 40.721266, -73.989756, 160 ],
            [ 40.7165262, -74.009567, 161 ],
            [ 40.7554926, -73.970599, 162 ],
            [ 40.722748, -73.996232, 163 ],
            [ 40.710182, -74.008568, 164 ],
            [ 40.755165, -73.967868, 165 ],
            [ 40.76339238, -73.9967528, 166 ],
            [ 40.734788, -74.002207, 167 ],
            [ 40.764405, -73.98828, 168 ],
            [ 40.73817511, -74.00189815, 169 ],
            [ 40.7399035, -74.0073953, 170 ],
            [ 40.72248311, -73.98278459, 171 ],
            [ 40.780946, -73.976605, 172 ],
            [ 40.724046, -73.993875, 173 ],
            [ 40.7229286, -73.9891634, 174 ],
            [ 40.7607404, -73.9722563, 175 ],
            [ 40.8154774, -73.9587672, 176 ],
            [ 40.7600549, -73.9911923, 177 ],
            [ 40.788813, -73.974594, 178 ],
            [ 40.759273, -73.975663, 179 ],
            [ 40.7471973, -74.0008224, 180 ],
            [ 40.71529737, -74.01481141, 181 ],
            [ 40.7398849, -73.9931044, 182 ],
            [ 40.741245, -74.0049572, 183 ],
            [ 40.766067, -73.983807, 184 ],
            [ 40.7578242, -73.9872113, 185 ],
            [ 40.718489, -74.009003, 186 ],
            [ 40.764474, -73.967088, 187 ],
            [ 40.7640944, -73.9867544, 188 ],
            [ 40.7611591, -73.9943294, 189 ],
            [ 40.75003, -73.985679, 190 ],
            [ 40.736125, -74.000607, 191 ],
            [ 40.732314, -73.987527, 192 ],
            [ 40.7461851, -73.9939408, 193 ],
            [ 40.7441193, -73.9851923, 194 ],
            [ 40.75582, -73.982204, 195 ],
            [ 40.8044785, -73.9553503, 196 ],
            [ 40.7293369, -73.9888366, 197 ],
            [ 40.79122734, -73.9741044, 198 ],
            [ 40.719613, -74.0039199, 199 ],
            [ 40.748122, -74.00419, 200 ],
            [ 40.74975739, -73.97545661, 201 ],
            [ 40.7610605, -73.984011, 202 ],
            [ 40.739746, -74.006678, 203 ],
            [ 40.737385, -74.003966, 204 ],
            [ 40.7404266, -74.005458, 205 ],
            [ 40.7225608, -73.988629, 206 ],
            [ 40.7379511, -74.0039166, 207 ],
            [ 40.784339, -73.9741279, 208 ],
            [ 40.75682237, -73.98604744, 209 ],
            [ 40.7484183, -73.9780442, 210 ],
            [ 40.723779, -73.983525, 211 ],
            [ 40.760312, -73.989779, 212 ],
            [ 40.732661, -74.0024, 213 ],
            [ 40.72346, -73.9963118, 214 ],
            [ 40.738754, -73.993867, 215 ],
            [ 40.737437, -73.999661, 216 ],
            [ 40.733317, -74.0033119, 217 ],
            [ 40.7389034, -74.000032, 218 ],
            [ 40.7567002, -73.9888158, 219 ],
            [ 40.759238, -73.9925086, 220 ],
            [ 40.7586043, -73.9860673, 221 ],
            [ 40.751249, -73.974939, 222 ],
            [ 40.71794, -74.007128, 223 ],
            [ 40.736224, -74.000667, 224 ],
            [ 40.76207289, -73.98608565, 225 ],
            [ 40.7662168, -73.9867943, 226 ],
            [ 40.7453719, -74.0023485, 227 ],
            [ 40.7388163, -73.9928051, 228 ],
            [ 40.7195398, -74.0101079, 229 ],
            [ 40.765201, -73.965651, 230 ],
            [ 40.7287324, -73.9882601, 231 ],
            [ 40.756184, -73.98462, 232 ],
            [ 40.760586, -73.990645, 233 ],
            [ 40.733862, -74.002279, 234 ],
            [ 40.728341, -73.9987076, 235 ],
            [ 40.736755, -73.995176, 236 ],
            [ 40.7569953, -73.9867708, 237 ],
            [ 40.7550284, -73.9727231, 238 ],
            [ 40.72935977, -74.00390857, 239 ],
            [ 40.737885, -73.987972, 240 ],
            [ 40.7789688, -73.9543015, 241 ],
            [ 40.775109, -73.979919, 242 ],
            [ 40.7476039, -73.9813711, 243 ],
            [ 40.7154016, -73.9982623, 244 ],
            [ 40.7460954, -73.9780965, 245 ],
            [ 40.76119824, -73.98171605, 246 ],
            [ 40.7715145, -73.9819129, 247 ],
            [ 40.7801224, -73.9803855, 248 ],
            [ 40.7044017, -74.0109886, 249 ],
            [ 40.7593023, -73.9900458, 250 ],
            [ 40.78424, -73.977868, 251 ],
            [ 40.729938, -74.00065, 252 ],
            [ 40.7435713, -73.9997578, 253 ],
            [ 40.73321167, -73.98762306, 254 ],
            [ 40.758989, -73.962781, 255 ],
            [ 40.7420393, -74.0008802, 256 ],
            [ 40.764324, -73.966877, 257 ],
            [ 40.719449, -74.008852, 258 ],
            [ 40.73503927, -73.97960544, 259 ],
            [ 40.745592, -73.979264, 260 ],
            [ 40.7078814, -74.01020267, 261 ],
            [ 40.7562177, -73.984922, 262 ],
            [ 40.7455179, -73.993724, 263 ],
            [ 40.72675467, -73.98911655, 264 ],
            [ 40.7370289, -73.9888738, 265 ],
            [ 40.732236, -74.003313, 266 ],
            [ 40.75596771, -73.98090631, 267 ],
            [ 40.74821607, -73.98493767, 268 ],
            [ 40.7684629, -73.955132, 269 ],
            [ 40.70548154, -74.00828362, 270 ],
            [ 40.7562349, -73.9697792, 271 ],
            [ 40.724419, -73.994899, 272 ],
            [ 40.775777, -73.9530649, 273 ],
            [ 40.7459138, -74.0015369, 274 ],
            [ 40.79135527, -73.97400247, 275 ],
            [ 40.730201, -74.003686, 276 ],
            [ 40.71470254, -74.01547625, 277 ],
            [ 40.75507576, -73.98298502, 278 ],
            [ 40.74340694, -73.98915385, 279 ],
            [ 40.7627041, -73.9660592, 280 ],
            [ 40.7552993, -73.9809251, 281 ],
            [ 40.75733, -73.967902, 282 ],
            [ 40.7552524, -73.9684516, 283 ],
            [ 40.7842809, -73.977244, 284 ],
            [ 40.7842375, -73.977356, 285 ],
            [ 40.7567481, -73.9898168, 286 ],
            [ 40.75434431, -73.98347855, 287 ],
            [ 40.741818, -73.992538, 288 ],
            [ 40.771541, -73.955958, 289 ],
            [ 40.70662427, -74.00682249, 290 ],
            [ 40.760558, -73.990357, 291 ],
            [ 40.7650312, -73.9910283, 292 ],
            [ 40.7446639, -73.9988167, 293 ],
            [ 40.7721382, -73.95858, 294 ],
            [ 40.727416, -73.988156, 295 ],
            [ 40.7399035, -74.0073953, 296 ],
            [ 40.784103, -73.977963, 297 ],
            [ 40.76436613, -73.97413081, 298 ],
            [ 40.783552, -73.950933, 299 ],
            [ 40.752998, -73.977056, 300 ],
            [ 40.77124301, -73.95366806, 301 ],
            [ 40.74242509, -74.00612513, 302 ],
            [ 40.754983, -73.985923, 303 ],
            [ 40.7602649, -73.991703, 304 ],
            [ 40.79842644, -73.96928953, 305 ],
            [ 40.759241, -73.983335, 306 ],
            [ 40.777772, -73.949093, 307 ],
            [ 40.744625, -74.00305, 308 ],
            [ 40.7426141, -74.0042051, 309 ],
            [ 40.72948737, -73.98937911, 310 ],
            [ 40.768435, -73.982688, 311 ],
            [ 40.7344859, -73.993432, 312 ] ]




        function setMarkers(map, locations) {
            // Add markers to the map

            // Marker sizes are expressed as a Size of X,Y
            // where the origin of the image (0,0) is located
            // in the top left of the image.

            // Origins, anchor positions and coordinates of the marker
            // increase in the X direction to the right and in
            // the Y direction down.
            var image = {
                url: 'images/beachflag.png',
                // This marker is 20 pixels wide by 32 pixels tall.
                size: new google.maps.Size(20, 32),
                // The origin for this image is 0,0.
                origin: new google.maps.Point(0,0),
                // The anchor for this image is the base of the flagpole at 0,32.
                anchor: new google.maps.Point(0, 32)
            };
            // Shapes define the clickable region of the icon.
            // The type defines an HTML &lt;area&gt; element 'poly' which
            // traces out a polygon as a series of X,Y points. The final
            // coordinate closes the poly by connecting to the first
            // coordinate.
            var shape = {
                coords: [1, 1, 1, 20, 18, 20, 18 , 1],
                type: 'poly'
            };
            for (var i = 0; i < locations.length; i++) {
                var beach = locations[i];
                var myLatLng = new google.maps.LatLng(beach[0], beach[1]);
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    //icon: image,
                    shape: shape,
                    //title: beach[0],
                    zIndex: beach[3]
                });
            }
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<div id="map-canvas"></div>
</body>
</html>