<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hngre Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script>
        function isEmpty(obj) {
            for(var prop in obj) {
                if(obj.hasOwnProperty(prop))
                    return false;
            }

            return true;
        }

    </script>
    <![endif]-->

</head>

<body>

<!-- / Start wrapper -->
<div id="wrapper">

    <!-- Navigation Start -->
    <% include partials/left_nav.ejs%>
    <!-- Navigation End-->

    <!-- / Start page-wrapper -->
    <div id="page-wrapper">

        <!-- / Start container-fluid -->
        <div class="container-fluid">

            <!-- Page Heading Start -->
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="page-header">
                        <%= merchant.name%>  <!--<small>Statistics Overview</small>-->
                    </h1>
                    <!--<ol class="breadcrumb">-->
                    <!--<li class="active">-->
                    <!--<i class="fa fa-dashboard"></i> Crawled merchants-->
                    <!--</li>-->
                    <!--</ol>-->
                </div>
                <div class="col-lg-6">
                    <h1 class="page-header">
                        <a href=<%="/admin/merchants/dishes/new_dish/"+merchant._id%> > Add Dish</a>  <!--<small>Statistics Overview</small>-->
                    </h1>

                </div>
            </div>
            <!--Page Heading End-->

            <!--Page Content Starts-->
            <form class="form-horizontal" role="form" action="" method="post" id="form1" >
            <div class="row">

                <!--Column One (ROW) Starts-->
                <div class="col-lg-6">
                    <!--Contact Starts-->
                    <div class="panel panel-default">
                            <div class="panel-heading">Contact</div>
                            <div class="panel-body">
                                <!--<form class="form-horizontal">-->

                                    <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">Name</label>
                                        <div class="col-sm-9">
                                            <input type ="text" class="form-control" name="name" value='<%= merchant.name %>' required>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" id="primary_email" name='contact[primary_email]' value=<%= merchant.contact.primary_email ? merchant.contact.primary_email : '' %>>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="contact.phone" class="col-sm-3 control-label">Telephone</label>
                                        <div class="col-sm-9">
                                            <% if(merchant.contact.phone.length != 0){%>
                                            <% var phone_id = 0 %>
                                            <% merchant.contact.phone.forEach(function(phone){ %>
                                            <input type="text" class="form-control" id="contact[phone]" name="contact[phone]"  value='<%= phone %>'>
                                            <% phone_id++ })%> <!--end for-->
                                            <%} else {%>
                                            <input type="text" class="form-control" id="contact[phone]" value="">
                                            <%}%><!--end if-->
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label for="secondary_email" class="col-sm-3 control-label">Secondary Email</label>
                                        <div class="col-sm-9">
                                            <% if(merchant.contact.email.length != 0){%>
                                            <% var email_id = 0 %>
                                            <% merchant.contact.email.forEach(function(email){ %>
                                            <input type="email" class="form-control" id="contact[email]" name="contact[email]" value='<%= email %> '>
                                            <% email_id++ })%> <!--end for-->
                                            <%} else {%>
                                            <input type="email" class="form-control" id="contact[email]" name="contact[email]" value="" >
                                            <%}%><!--end if-->
                                        </div>
                                    </div>

                                    <div class="form-group" >
                                        <label for="url" class="col-sm-3 control-label">Website</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="url" name="url" value='<%= merchant.url ? merchant.url: '' %>'>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="address.street_address" class="col-sm-3 control-label">Street Address</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="street_address" name="address[street_address]" value='<%= merchant.address.street_address ? merchant.address.street_address: '' %>'>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="address.locality" class="col-sm-3 control-label">Locality</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="locality" name="address[locality]" value='<%= merchant.address.locality ? merchant.address.locality: '' %>'>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="address.region" class="col-sm-3 control-label">Region</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="region" name="address[region]" value='<%= merchant.address.region ? merchant.address.region: '' %>'>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="address.zip" class="col-sm-3 control-label">ZIP</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="zip" name="address[zip]" value='<%= merchant.address.zip ? merchant.address.zip: '' %>'>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="address.landmark" class="col-sm-3 control-label">Landmark</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="landmark" name="address[landmark]" value='<%= merchant.address.landmark ? merchant.address.landmark: '' %>'>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="neighbourhood" class="col-sm-3 control-label">Neighbourhood</label>
                                        <div class="col-sm-9">

                                            <select for="address[neighbourhood]" multiple data-role="tagsinput" name="address[neighbourhood]" id="cuisine">
                                                <% if(typeof merchant.address.neighbourhood === "object") {%>
                                                    <% merchant.address.neighbourhood.forEach(function (neighbourhood) { %>
                                                <option value='<%= neighbourhood %>'>'<%= neighbourhood %>'</option>
                                                <%})%>
                                                <%} else {%>
                                                <option value="" ></option>
                                                <%}%>

                                            </select>



                                        </div>
                                    </div>



                                <!--</form>-->



                            </div>
                        <!--</div>-->


                    </div>
                    <!--Contact Ends-->
                    <!-- Hours Start-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Hours</div>
                        <div class="panel-body">

                            <div class="form-group">
                                <div class="row" style="margin-bottom: 5px">

                                        <label for="address.landmark" class="col-sm-3 control-label">Monday :</label>

                                    <div class="col-sm-8" style="padding-top: 7px">
                                        <% if(merchant.info.hours.mon[0] != "Closed"){%>
                                        <%merchant.info.hours.mon.forEach(function(time){%>

                                        <div class="row" style="margin-bottom: 5px">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">From</span>
                                                        <input type="text" class="form-control" name="info[hours][mon]" value=<%=time[0]%>>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">To</span>
                                                        <input type="text" class="form-control" name="info[hours][mon]" value=<%=time[1]%>>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <%})%>
                                        <%} else {%>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="info[hours][mon]" value=<%=merchant.info.hours.mon[0]%>>
                                        </div>

                                        <%}%>
                                    </div>
                                    <div class="col-md-1">

                                    </div>

                                </div>

                                <div class="row" style="margin-bottom: 5px">

                                        <label for="address.landmark" class="col-sm-3 control-label">Tuesday :</label>

                                    <div class="col-sm-8" style="padding-top: 7px">

                                        <% if(merchant.info.hours.tue[0] !== "Closed"){%>
                                        <%merchant.info.hours.tue.forEach(function(time){%>

                                        <div class="row" style="margin-bottom: 5px">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">From</span>
                                                        <input type="text" class="form-control" name="info[hours][tue]" value=<%=time[0]%>>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">To</span>
                                                        <input type="text" class="form-control" name="info[hours][tue]" value=<%=time[1]%>>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <%})%>
                                        <%} else {%>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="info[hours][tue]" value=<%=merchant.info.hours.tue[0]%>>
                                        </div>

                                        <%}%>
                                    </div>
                                    <div class="col-md-1">

                                    </div>

                                </div>

                                <div class="row" style="margin-bottom: 5px">

                                        <label for="address.landmark" class="col-sm-3 control-label">Wednesday :</label>

                                    <div class="col-sm-8" style="padding-top: 7px">

                                        <% if(merchant.info.hours.wed[0] !== "Closed"){%>
                                        <%merchant.info.hours.wed.forEach(function(time){%>

                                        <div class="row" style="margin-bottom: 5px">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">From</span>
                                                        <input type="text" class="form-control" name="info[hours][wed]" value=<%=time[0]%>>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">To</span>
                                                        <input type="text" class="form-control" name="info[hours][wed]" value=<%=time[1]%>>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <%})%>
                                        <%} else {%>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="info[hours][wed]" value=<%=merchant.info.hours.wed[0]%>>
                                        </div>

                                        <%}%>
                                    </div>
                                    <div class="col-md-1">

                                    </div>

                                </div>

                                <div class="row" style="margin-bottom: 5px">

                                        <label for="address.landmark" class="col-sm-3 control-label">Thursday :</label>

                                    <div class="col-sm-8" style="padding-top: 7px">
                                        <% if(merchant.info.hours.thu.length !== "Closed"){%>
                                        <%merchant.info.hours.thu.forEach(function(time){%>

                                        <div class="row" style="margin-bottom: 5px">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">From</span>
                                                        <input type="text" class="form-control" name="info[hours][thu]" value=<%=time[0]%>>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">To</span>
                                                        <input type="text" class="form-control" name="info[hours][thu]" value=<%=time[1]%>>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <%})%>
                                        <%} else {%>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="info[hours][thu]" value=<%=merchant.info.hours.thu[0]%>>
                                        </div>

                                        <%}%>
                                    </div>
                                    <div class="col-md-1">

                                    </div>

                                </div>

                                <div class="row" style="margin-bottom: 5px">

                                        <label for="address.landmark" class="col-sm-3 control-label">Friday :</label>

                                    <div class="col-sm-8" style="padding-top: 7px">
                                        <% if(merchant.info.hours.fri.length !== "Closed"){%>
                                        <%merchant.info.hours.fri.forEach(function(time){%>

                                        <div class="row" style="margin-bottom: 5px">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">From</span>
                                                        <input type="text" class="form-control" name="info[hours][fri]" value=<%=time[0]%>>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">To</span>
                                                        <input type="text" class="form-control" name="info[hours][fri]" value=<%=time[1]%>>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <%})%>
                                        <%} else {%>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="info[hours][fri]" value=<%=merchant.info.hours.fri[0]%>>
                                        </div>

                                        <%}%>
                                    </div>
                                    <div class="col-md-1">

                                    </div>

                                </div>

                                <div class="row" style="margin-bottom: 5px">

                                        <label for="address.landmark" class="col-sm-3 control-label">Saturday :</label>

                                    <div class="col-sm-8" style="padding-top: 7px">
                                        <% if(merchant.info.hours.sat[0] !== "Closed"){%>
                                        <%merchant.info.hours.sat.forEach(function(time){%>

                                        <div class="row" style="margin-bottom: 5px">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">From</span>
                                                        <input type="text" class="form-control" name="info[hours][sat]" value=<%=time[0]%>>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">To</span>
                                                        <input type="text" class="form-control" name="info[hours][sat]" value=<%=time[1]%>>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <%})%>
                                        <%} else {%>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="info[hours][sat]" value=<%=merchant.info.hours.sat[0]%>>
                                        </div>

                                        <%}%>

                                    </div>
                                    <div class="col-md-1">


                                    </div>

                                </div>

                                <div class="row" style="margin-bottom: 5px">

                                        <label for="address.landmark" class="col-sm-3 control-label">Sunday :</label>

                                    <div class="col-sm-8" style="padding-top: 7px">
                                        <% if(merchant.info.hours.sun[0] !== "Closed"){%>
                                        <%merchant.info.hours.sun.forEach(function(time){%>

                                        <div class="row" style="margin-bottom: 5px">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">From</span>
                                                        <input type="text" class="form-control" name="info[hours][sun]" value=<%=time[0]%>>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">To</span>
                                                        <input type="text" class="form-control" name="info[hours][sun]" value=<%=time[1]%>>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <%})%>
                                        <%} else {%>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="info[hours][sun]" value=<%=merchant.info.hours.sun[0]%>>
                                        </div>

                                        <%}%>

                                    </div>
                                    <div class="col-md-1">

                                    </div>

                                </div>





                            </div>
                        </div>
                    </div>
                    <!-- Hours ends-->
                </div>
                <!--Column One Ends-->

                <!--Column TwoStarts-->
                <div class="col-lg-6">

                    <!--Dishes Start-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Dishes</div>
                            <div class="panel-body">

                                <div class="col-md-12">
                                    <label for="yelp.rating">Approved Dishes</label>
                                    <%if (typeof dishes === "object"){%>
                                        <% dishes.forEach(function(dish){ %>
                                            <% if(dish.approve_status === "true" || dish.approve_status == 1){%>
                                                <div class="well well-sm">
                                                    <a href=<%="dishes/"+dish._id%> ><%=dish.name%></a>
                                                </div>
                                            <%}%>
                                        <%})%>
                                    <%}%>
                                </div>
                                <div class="col-md-12">
                                    <label for="yelp.rating">Discarded Dishes</label>
                                        <%if (typeof dishes === "object"){%>
                                        <% dishes.forEach(function(dish){ %>
                                        <% if(dish.approve_status === "false" || dish.approve_status == 0){%>
                                        <div class="well well-sm">
                                            <a href=<%="dishes/"+dish._id%> ><%=dish.name%></a>
                                        </div>
                                        <%}%>
                                        <%})%>
                                        <%}%>
                                </div>

                            </div>
                        </div>
                    <!--Dishes End-->
                    <!--Yelp /Zagat Start-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Yelp and Zagat</div>
                        <div class="panel-body">

                                <div class="row">
                                    <div class="col-xs-4">
                                        <label for="yelp.rating">Yelp Rating</label>
                                        <input type ="text" class="form-control" name="yelp[rating]" id="yelp[rating]"  value=<%= merchant.yelp.rating ? merchant.yelp.rating : "" %> >
                                    </div>
                                    <div class="col-xs-4">
                                        <label for="yelp.review_count">Yelp Review Count</label>
                                        <input type ="text" class="form-control" name="yelp[review_count]" id="yelp[review_count]" value=<%= merchant.yelp.review_count ? merchant.yelp.review_count : "" %> >
                                    </div>
                                    <div class="col-xs-4">
                                        <label for="yelp.link">Yelp Link</label><br/>
                                        <a href=<%=merchant.yelp.link%> target="_blank"> Go to Yelp</a>
                                    </div>
                                    <input type="hidden" name="yelp[link]" value=<%=merchant.yelp.link%>>

                                </div>
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-xs-4">
                                        <label for="zagat.food">Zagat Food</label>
                                        <input type ="text" class="form-control" name="zagat[food]" id="zagat[food]" value=<%= merchant.zagat.food ? merchant.zagat.food : "" %> >
                                    </div>
                                    <div class="col-xs-4">
                                        <label for="zagat.service">Zagat Service</label>
                                        <input type ="text" class="form-control" name="zagat[service]" id="zagat[service]" value=<%= merchant.zagat.service ? merchant.zagat.service : "" %> >
                                    </div>
                                    <div class="col-xs-4">
                                        <label for="zagat.decor">Zagat Decor</label>
                                        <input type ="text" class="form-control" name="zagat[decor]" id="zagat[decor]" value=<%= merchant.zagat.decor ? merchant.zagat.decor : "" %> >
                                    </div>
                                </div>


                        </div>
                    </div>
                    <!--Yelp /Zagat End-->

                    <!--Info Start-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Info</div>
                        <div class="panel-body">

                                <div class="row" >
                                    <div class="col-xs-4"><label for="info.cuisine">Cuisine</label></div>
                                    <div class="col-xs-4"><label for="info.meal">Good for Meals</label></div>
                                    <div class="col-xs-4"><label for="tags">Ambience</label></div>

                                    <div class="col-xs-4">

                                        <select multiple data-role="tagsinput" name="cuisine" id="cuisine">
                                            <% if(merchant.cuisine.length != 0) {%>
                                            <% merchant.cuisine.forEach(function (cuisine1) { %>
                                            <option value='<%= cuisine1 %>'><%= cuisine1 %></option>
                                            <%})%>
                                            <%} else {%>
                                            <option value="" ></option>
                                            <%}%>

                                        </select>

                                    </div>
                                    <div class="col-xs-4">

                                        <select multiple data-role="tagsinput" name="info[meal]" id="meals" >
                                        <% if(typeof merchant.info.meal === "object") {%>
                                            <% merchant.info.meal.forEach(function (meal) { %>
                                                <option value='<%= meal %>'>'<%= meal %>'</option>
                                            <%})%>
                                        <%} else {%>
                                            <option value=""></option>
                                        <%}%>

                                        </select>

                                     </div>
                                    <div class="col-xs-4">
                                        <select multiple data-role="tagsinput"  name="info[ambience]" id="ambience">
                                        <% if(typeof merchant.info.ambience === "object") {%>
                                            <% merchant.info.ambience .forEach(function (ambience) { %>
                                                <option value='<%= ambience %>'>'<%= ambience %>'</option>
                                            <%})%>
                                        <%} else {%>
                                            <option value="" ></option>
                                        <%}%>

                                        </select>

                                    </div>

                                </div>
                                <div class="row" >
                                    <div class="col-xs-6"><label for="tags">Tags</label></div>
                                    <div class="col-xs-6"><label for="influncers">Influencers</label></div>


                                    <div class="col-xs-6">

                                        <select multiple data-role="tagsinput" name="tags" id="tags">
                                            <% if(typeof merchant.tags === "object") {%>
                                            <% merchant.tags.forEach(function (tag) { %>
                                            <option value='<%= tag %>'>'<%= tag %>'</option>
                                            <%})%>
                                            <%} else {%>
                                            <option value=""></option>
                                            <%}%>

                                        </select>

                                    </div>
                                    <div class="col-xs-6">

                                        <select multiple data-role="tagsinput" name="infleuncers" id="infleuncers">
                                        <% if(typeof merchant.influencers === "object") {%>
                                        <% merchant.influencers.forEach(function (influncer) { %>
                                        <option value='<%= influncer %>'>'<%= influncer %>'</option>
                                        <%})%>
                                        <%} else {%>
                                        <option vlaue=""     ></option>
                                        <%}%>

                                        </select>

                                    </div>
                                    <!--<div class="col-xs-4">-->
                                        <!--<input disabled type="text" class="form-control" id="status" name="status" id="status" value='<%= merchant.status ? merchant.status: '' %>'>-->

                                    <!--</div>-->

                                </div>




                        </div>
                    </div>
                    <!--Info End-->


                    <!--Features Start-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Features</div>
                        <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label class="checkbox-inline">
                                            <% var credit_card = ""%>
                                                <% if(merchant.info.credit_card === true){%>
                                                    <% credit_card = "checked" %>
                                                <%} %>
                                            <input type="checkbox" name="info[credit_card]" id="info[credit_card]" <%= credit_card %> > Credit Card
                                        </label>
                                    </div>

                                    <div class="col-xs-4">
                                        <label class="checkbox-inline">
                                            <% var groups = ""%>
                                                <% if(merchant.info.groups === true){%>
                                                    <% groups = "checked" %>
                                                <%} %>
                                            <input type="checkbox" name="info[groups]" id="info[groups]" <%= groups %> > Good for Groups
                                        </label>
                                    </div>

                                    <div class="col-xs-4">
                                        <label class="checkbox-inline">
                                            <% var kids = ""%>
                                            <% if(merchant.info.kids === true){%>
                                            <% kids = "checked" %>
                                            <%} %>
                                            <input type="checkbox" name="info[kids]" id="info[kids]" <%= groups %> > Good for Kids
                                        </label>
                                    </div>
                                </div>

                                <div class="row">


                                    <div class="col-xs-4">
                                        <label class="checkbox-inline">
                                            <% var takes_reservation = ""%>
                                            <% if(merchant.info.reservations === true){%>
                                            <% takes_reservation = "checked" %>
                                            <%} %>
                                            <input type="checkbox" name="info[reservations]" id="info[reservations]" <%= takes_reservation %> > Takes Reservation
                                        </label>
                                    </div>


                                    <div class="col-xs-4">
                                        <label class="checkbox-inline">
                                            <% var table_service = "" %>
                                            <% if(merchant.info.table_service === true){%>
                                            <% table_service = "checked" %>
                                            <%} %>
                                            <input type="checkbox" name="info[table_service]" id="info[table_service]" <%= table_service %> > Table Service
                                        </label>
                                    </div>

                                    <div class="col-xs-4">
                                        <label class="checkbox-inline">
                                            <% var outdoor_seating = ""%>
                                            <% if(merchant.info.outdoor_seating === true){%>
                                            <% outdoor_seating = "checked" %>
                                            <%} %>
                                            <input type="checkbox" name="info[outdoor_seating]" id="info[outdoor_seating]" <%= outdoor_seating %> > Outdoor Seating
                                        </label>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-xs-4">
                                        <label class="checkbox-inline">
                                            <% var wifi = ""%>
                                            <% if(merchant.info.wifi === true){%>
                                            <% wifi = "checked" %>
                                            <%} %>
                                            <input type="checkbox" name="info[wifi]" id="info[wifi]" <%= wifi %> >  Wifi
                                        </label>
                                    </div>

                                    <div class="col-xs-4">
                                        <label class="checkbox-inline">
                                            <% var smoking = ""%>
                                            <% if(merchant.info.smoking === true){%>
                                            <% smoking = "checked" %>
                                            <%} %>
                                            <input type="checkbox" name="info[smoking]" id="info[smoking]" <%= smoking %> > Smoking
                                        </label>
                                    </div>

                                    <div class="col-xs-4">
                                        <label class="checkbox-inline">
                                            <% var coat = ""%>
                                            <% if(merchant.info.coat === true){%>
                                            <% coat = "checked" %>
                                            <%} %>
                                            <input type="checkbox" name="info[coat]" id="info[coat]" <%= coat %> > Coat
                                        </label>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-xs-4">
                                        <label class="checkbox-inline">
                                            <% var wheelchair = ""%>
                                            <% if(merchant.info.wheelchair === true){%>
                                            <% wheelchair = "checked" %>
                                            <%} %>
                                            <input type="checkbox" name="info[wheelchair]" id="info[wheelchair]" <%= wheelchair %> > Wheelchair
                                        </label>
                                    </div>

                                    <div class="col-xs-4">
                                        <label class="checkbox-inline">
                                            <% var tv = ""%>
                                            <% if(merchant.info.tv === true){%>
                                            <% tv = "checked" %>
                                            <%} %>
                                            <input type="checkbox" name="info[tv]" id="info[tv]" <%= tv %> > TV
                                        </label>
                                    </div>

                                    <div class="col-xs-4">
                                        <label class="checkbox-inline">
                                            <% var caters = ""%>
                                            <% if(merchant.info.caters === true){%>
                                            <% caters = "checked" %>
                                            <%} %>
                                            <input type="checkbox" name="info[caters]" id="info[caters]" <%= caters %> >  Caters
                                        </label>
                                    </div>


                                </div>

                                <div class="row" style="margin-top:20px">
                                    <div class="col-xs-6">
                                        <label>Attire</label>
                                        <select class="form-control" name="info[attire]" id="info[attire]">
                                            <% var a,b,c,d = ""%>
                                            <% if(merchant.info.attire == "Casual"){a = "selected"}%>
                                            <% if(merchant.info.attire == "Dressy"){b = "selected"}%>
                                            <% if(merchant.info.attire == "Formal (Jacket Recommended)"){c = "selected"}%>
                                            <% if(merchant.info.attire == "Formal (Jacket Required)"){d = "selected"}%>
                                            <option value="Casual" <%= a %>>Casual</option>
                                            <option value="Dressy" <%= b %>>Dressy</option>
                                            <option value="Formal (Jacket Recommended)" <%= c %>>Formal (Jacket Recommended)</option>
                                            <option value="Formal (Jacket Required)" <%= d %>>Formal (Jacket Required)</option>
                                        </select>
                                    </div>


                                    <div class="col-xs-6">
                                        <label>Price</label>
                                        <select class="form-control" name="info[price_range]" id="info[price_range]">
                                            <% var a,b,c,d = ""%>
                                            <% if(merchant.info.price_range == "$"){a = "selected"}%>
                                            <% if(merchant.info.price_range == "$$"){b = "selected"}%>
                                            <% if(merchant.info.price_range == "$$$"){c = "selected"}%>
                                            <% if(merchant.info.price_range == "$$$$"){d = "selected"}%>
                                            <option value="$" <%= a %>>$</option>
                                            <option value="$$" <%= b %>>$$</option>
                                            <option value="$$$" <%= c %>>$$$</option>
                                            <option value="$$$$" <%= d %>>$$$$</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px">
                                    <div class="col-xs-6">
                                        <label>Music</label>
                                        <select class="form-control" name="info[music]" id="info[music]">
                                            <% var a,b,c,d = ""%>
                                            <%  %>
                                            <% if(merchant.info.music== "No"){a = "selected"}%>
                                            <% if(merchant.info.music == "Live"){b = "selected"}%>
                                            <% if(merchant.info.music == "Ambient"){c = "selected"}%>
                                            <% if(merchant.info.music == "DJ"){d = "selected"}%>
                                            <option value="No" <%= a %>>No</option>
                                            <option value="Live" <%= b %>>Live</option>
                                            <option value="Ambient" <%= c %>>Ambient</option>
                                            <option value="DJ"  <%= d %>>DJ</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Noise</label>
                                        <input type ="text" class="form-control" name="info[noise]" id="info[noise]" value=<%= merchant.info.noise ? merchant.info.noise : "" %> >
                                    </div>




                                </div>
                                <div class="row" style="margin-top:20px">

                                    <div class="col-xs-6">
                                        <label>Alcohol</label>
                                        <select class="form-control" name="info[alcohol]" id="info[alcohol]">
                                            <% var a,b,c = ""%>
                                            <% if(merchant.info.alcohol == "No"){a = "selected"}%>
                                            <% if(merchant.info.alcohol == "Full Bar"){b = "selected"}%>
                                            <% if(merchant.info.alcohol == "Beer and Wine Only"){c = "selected"}%>
                                            <option value="No" <%= a %>>No</option>
                                            <option value="Full Bar" <%= b %>>Full Bar</option>
                                            <option value="Beer and Wine Only" <%= c %>>Beer and Wine Only</option>

                                        </select>
                                    </div>

                                    <div class="col-xs-6" style="margin-top:20px">
                                        <label class="checkbox-inline">
                                            <% var byo = ""%>
                                            <% if(merchant.info.alcohol_byo === true){%>
                                            <% byo = "checked" %>
                                            <%} %>
                                            <input type="checkbox" name="info[alcohol_byo]" id="info[alcohol_byo]" <%= byo %> > Alcohol BYO
                                        </label>
                                    </div>



                                </div>



                        </div>
                    </div>
                    <!--Features End-->
                    <!--Status Starts-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Status</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <%var a,b,c,d = ""%>
                                    <% if(merchant.status === "pool"){a="checked"}%>
                                    <% if(merchant.status === "open"){b="checked"}%>
                                    <% if(merchant.status === "completed"){c="checked"}%>
                                    <% if(merchant.status === "archieved"){d="checked"}%>
                                    <label class="radio-inline">
                                        <input type="radio" name="status" id="inlineRadio1" value="pool" <%=a%>> Pool
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="status" id="inlineRadio2" value="open" <%=b%>> Open
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="status" id="inlineRadio3" value="completed" <%=c%>> Completed
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="status" id="inlineRadio3" value="archieved" <%=d%>> Archieved
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Status Starts-->


                </div>
                <!--Column two Ends-->

            </div>
                <div class="row">
                    <center>

                        <button class="btn btn-lg btn-primary" type="submit">Update/ Save</button>
                    </center>

                </div>
            </form>
            <form id="finalform" action="" method="post"></form>
            <!--Page content (ROW) Ends-->

        </div>
        <!-- / End container-fluid -->

    </div>
    <!-- /End page-wrapper -->
</div>
<!-- / End wrapper -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<script src="/js/bootstrap-tagsinput.js"></script>



<!-- Morris Charts JavaScript
<script src="/js/plugins/morris/raphael.min.js"></script>
<script src="/js/plugins/morris/morris.min.js"></script>
<script src="/js/plugins/morris/morris-data.js"></script>
-->

<script>

    $(function() {
        //alert("test")

        var $form = $('#form1');



        var startItems = convertSerializedArrayToHash($form.serializeArray());

        //alert(JSON.stringify(startItems));

       $form.submit(function(e){
            //alert('submit')

            var currentItems = convertSerializedArrayToHash($form.serializeArray());
            var itemsToSubmit = hashDiff( startItems, currentItems);

            //alert(JSON.stringify(itemsToSubmit));
            //e.preventDefault()
//
//            $.post($form.attr('action'), itemsToSubmit, function(data){
//              alert(OK)
//
//
//            })
           <!--var input1 = $("<input>")-->
                   <!--.attr("type", "hidden")-->
                   <!--.attr("name", "id").val(<%= merchant._id %>);-->

           <!--$('#finalform').append($(input1));-->

            //$('#finalform').submit()

            return true


        })

    });

    function hashDiff(h1, h2) {


        var d = {};
        for (k in h2) {

            if (h1[k] !== h2[k])
            {

                var input = $("<input>")
                        .attr("type", "hidden")
                        .attr("name", k).val(h2[k]);
                $('#finalform').append($(input));

                //finalform.append()
                d[k] = h2[k];
            }


        }


        return d;
    }

    function convertSerializedArrayToHash(a) {
        var r = {};
        for (var i = 0;i<a.length;i++) {
            r[a[i].name] = a[i].value;
        }
        return r;
    }

</script>

<script>

    $(function () {

        $("#search-query").autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: "/search",
                    type: "GET",
                    data: request,  // request is the value of search input
                    //prePopulate: $.parseJSON(response),
                    success: function (data) {
                        console.log(data)
                        data = $.parseJSON(data)
                        // Map response values to fiedl label and value
                        response($.map(data, function (el) {
                            //console.log(el)
                            //alert(ui.item.label)
                            return {
                                label: el.label,
                                value: el._id
                            };
                        }));
                    }
                });
            },

            // The minimum number of characters a user must type before a search is performed.
            minLength: 3,

            // set an onFocus event to show the result on input field when result is focused
            focus: function (event, ui) {
                this.value = ui.item.label;
                // Prevent other event from not being execute
                event.preventDefault();
            },
            select: function (event, ui) {
                // Prevent value from being put in the input:
                this.value = ui.item.label;

                // Set the id to the next input hidden field
                $(this).next("input").val(ui.item.value);
                // Prevent other event from not being execute
                event.preventDefault();
                // optionnal: submit the form after field has been filled up
                $('#quicksearch').submit();
            }
        });

    });
</script>


</body>

</html>
