<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hngre Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="/js/ejs_production.js"></script>
    <script src="/js/ejs_fulljslint.js"></script>

    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
<% include partials/left_nav.ejs%>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Total Reviews : <%= review_users.length %>  <!--<small>Statistics Overview</small>-->
                    </h1>
                    <!--<ol class="breadcrumb">-->
                        <!--<li class="active">-->
                            <!--<i class="fa fa-dashboard"></i> Crawled merchants-->
                        <!--</li>-->
                    <!--</ol>-->
                </div>
            </div>

                <!--</div>-->




                <div class="row">

                <% review_users.forEach(function(user){ %>
                <div class="col-lg-4">
                    <div class="panel panel-default" >
                        <% var css%>
                        <div class="panel-heading" <%if(user.status == 1){css ="style=background-color:#A2DED0"}%> <%=css%>>
                            <div class="row">
                                <div class="col-xs-4" style="min-height: 50px;margin-top: 5px" >
                                    <h3 class="panel-title" style="vertical-align: middle;padding-top: 5px"><a href=<%="/admin/merchants/review_user/"+user._id%>><%= user.name %></a></h3>
                                </div>
                                <div class="col-xs-4" style="margin-top: 10px">
                                    <span style="font-size: 12px" ><%= user.location %></span>
                                </div>
                                <div class="col-xs-3">

                                    <%if(user.total_review_count){%>

                                    <span class="span-review"><%= user.total_review_count%></span>
                                    <%}%>


                                </div>
                                <div class="col-xs-1" >

                                    <%if(user.int_count){%>
                                    <span class="span-rating"><%= user.int_count%></span>
                                    <%}%>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <% })%>
                <!--<div class="col-lg-12">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>-->
                        <!--</div>-->
                        <!--<div class="panel-body">-->
                            <!--<div id="morris-area-chart"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                    </div>



            </form>
                <!--End restaurant listing area-->







        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.min.js"></script>


<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<script>


</script>

<script>
    $(document).ready(function() {
        $('#selectall').click(function(event) {  //on click
            if(this.checked) { // check select status
                $('.checkbox1').each(function() { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"
                });
            }else{
                $('.checkbox1').each(function() { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"
                });
            }
        });

    });
</script>


<!-- Morris Charts JavaScript
<script src="/js/plugins/morris/raphael.min.js"></script>
<script src="/js/plugins/morris/morris.min.js"></script>
<script src="/js/plugins/morris/morris-data.js"></script>
-->

<script>

    $(function () {



        $("#search-query").autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: "/search",
                    type: "GET",
                    data: request,  // request is the value of search input
                    //prePopulate: $.parseJSON(response),
                    success: function (data) {
                        console.log(data)
                        data = $.parseJSON(data)
                        // Map response values to fiedl label and value
                        response($.map(data, function (el) {
                            //console.log(el)
                            //alert(ui.item.label)
                            return {
                                label: el.label,
                                value: el._id
                            };
                        }));
                    }
                });
            },

            // The minimum number of characters a user must type before a search is performed.
            minLength: 3,

            // set an onFocus event to show the result on input field when result is focused
            focus: function (event, ui) {
                this.value = ui.item.label;
                // Prevent other event from not being execute
                event.preventDefault();
            },
            select: function (event, ui) {
                // Prevent value from being put in the input:
                this.value = ui.item.label;

                // Set the id to the next input hidden field
                $(this).next("input").val(ui.item.value);
                // Prevent other event from not being execute
                event.preventDefault();
                // optionnal: submit the form after field has been filled up
                $('#quicksearch').submit();
            }
        });

    });
</script>


</body>

</html>
