
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hngre Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



<div id="wrapper">

    <!-- Navigation -->
<% include partials/left_nav.ejs%>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Total Reviews : <%= reviewer.reviews.length %>  <!--<small>Statistics Overview</small>-->
                    </h1>
                    <!--<ol class="breadcrumb">-->
                        <!--<li class="active">-->
                            <!--<i class="fa fa-dashboard"></i> Crawled merchants-->
                        <!--</li>-->
                    <!--</ol>-->
                </div>
            </div>

                <!--</div>-->

                <div class="row">
                    <div class="col-md-4">
                        <h3><%= reviewer.name%></h3>
                    </div>
                    <div class="col-md-4">
                        <h3><%= reviewer.location%></h3>
                    </div>
                    <div class="col-md-4">
                        <img src=<%=reviewer.photo%>>
                    </div>

                </div>


                <div class="row">

                <% reviewer.reviews.forEach(function(review){ %>
                <div class="row" style="margin: 5px;background-color:#A2DED0;padding:15px;">
                        <div class="col-md-8" id="phrase_<%=review._id%>">
                            <p style="font-size: 16px">' <%-review.review%>' </p>
                        </div>

                        <div class="col-md-4" style="background-color: #F5D76E">
                            <div class="col-md-12">
                                <center><h4 style="float: left;"><%=review.merchant.name%></h4><h4 style="float: right"><%=review.rating%></h4></center>
                            </div>
                            <div class="col-md-12">
                                <%review.merchant.dishes.forEach(function(dish){%>
                                    <div class="row" style="padding:15px; border-bottom: dotted">
                                        <div class="col-md-5">
                                            <span style="font-size: 14px;"><%-dish.name%></span>
                                            <% var a = " ",b =" ",c =" ",d = " "%>
                                            <% ratings.forEach(function(rating){%>


                                            <%if(dish._id.toString() == rating._dish.toString() && review.merchant._id == rating._merchant.toString()){%>
                                                        <%if(rating.rating == 1){a ="checked"}%>
                                                        <%if(rating.rating == 2){b ="checked"}%>
                                                        <%if(rating.rating == 3){c ="checked"}%>
                                                        <%if(rating.rating == 4){d ="checked"}%>
                                                <%}%>
                                            <%})%>

                                        </div>
                                        <div class="col-md-7">
                                            <form id="form_<%=dish._id%>_<%=review.merchant._id %>">

                                                <input type="hidden" value=<%= dish._id%> name="dish_id_<%=dish._id%>">
                                                <input type="hidden" value=<%= reviewer._id%> name="reviewer_id_<%=dish._id%>" id="reviewer_id_<%=dish._id%>">
                                                <input type="hidden" value=<%= review.merchant._id%> name="merchant_id_<%=dish._id%>" id="merchant_id_<%=dish._id%>">
                                                <label class="radio-inline" onclick="">
                                                    <input type="radio" name="inlineRadioOptions<%=dish._id%>" class="radioRating" value="1" <%=a%> > 1
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="inlineRadioOptions<%=dish._id%>" class="radioRating" value="2" <%=b%>  > 2
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="inlineRadioOptions<%=dish._id%>" class="radioRating" value="3" <%=c%>  > 3
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="inlineRadioOptions<%=dish._id%>" class="radioRating" value="4" <%=d%> > 4
                                                </label>
                                            </form>

                                        </div>


                                    </div>
                                <%})%>

                            </div>



                        </div>
                </div>




                <% })%>
                <!--<div class="col-lg-12">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>-->
                        <!--</div>-->
                        <!--<div class="panel-body">-->
                            <!--<div id="morris-area-chart"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                    </div>



            </form>
                <!--End restaurant listing area-->







        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<script>


</script>

<script>
    $(document).ready(function() {
        $('#selectall').click(function(event) {  //on click
            if(this.checked) { // check select status
                $('.checkbox1').each(function() { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"
                });
            }else{
                $('.checkbox1').each(function() { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"
                });
            }
        });

    });
</script>


<!-- Morris Charts JavaScript
<script src="/js/plugins/morris/raphael.min.js"></script>
<script src="/js/plugins/morris/morris.min.js"></script>
<script src="/js/plugins/morris/morris-data.js"></script>
-->

<script>

    $(function () {



        $("#search-query").autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: "/search",
                    type: "GET",
                    data: request,  // request is the value of search input
                    //prePopulate: $.parseJSON(response),
                    success: function (data) {
                        console.log(data)
                        data = $.parseJSON(data)
                        // Map response values to fiedl label and value
                        response($.map(data, function (el) {
                            //console.log(el)
                            //alert(ui.item.label)
                            return {
                                label: el.label,
                                value: el._id
                            };
                        }));
                    }
                });
            },

            // The minimum number of characters a user must type before a search is performed.
            minLength: 3,

            // set an onFocus event to show the result on input field when result is focused
            focus: function (event, ui) {
                this.value = ui.item.label;
                // Prevent other event from not being execute
                event.preventDefault();
            },
            select: function (event, ui) {
                // Prevent value from being put in the input:
                this.value = ui.item.label;

                // Set the id to the next input hidden field
                $(this).next("input").val(ui.item.value);
                // Prevent other event from not being execute
                event.preventDefault();
                // optionnal: submit the form after field has been filled up
                $('#quicksearch').submit();
            }
        });

    });
</script>

<script>

    $('.radioRating').click(function()
    {

        var id = $(this).parent().parent().attr('id').split('_')[1]
        var mid = $(this).parent().parent().attr('id').split('_')[2]
        var data ={
            dishid: id,
            rating: $(this).attr('value'),
            user:$('#reviewer_id_'+id).attr('value'),
            merchantid:mid
        }
        console.log(data)
        $.ajax({
            url: "/rating",
            type: "GET",
            data: data,  // request is the value of search input
            //prePopulate: $.parseJSON(response),
            success: function (data) {

                console.log(data)
                //data = $.parseJSON(data)
                // Map response values to fiedl label and value
//                response($.map(data, function (el) {
//                    //console.log(el)
//                    //alert(ui.item.label)
//                    console.log(el)
//                }));
            },
            error: function(x,t,m){
                alert("Error"+data)


            }
        });
    });

</script>


</body>

</html>
