.index_hngre_1{
	background-color: #fff4de;
}
.index_hngre_2{
	background-color: rgb(237, 64, 54);
}
.index_hngre_3{
	margin-top: 30px;
}

.index_hngre_4{
	opacity: 1; 
	top: 200px; 
	right: -108px;
}
.index_hngre_5{
	font-size:24px;
}
.index_hngre_6{
	display: block; 
	opacity: 1;
	margin-top:5%;
}
.index_hngre_7{
	background: url(/static/home_page/images/part3/back.jpg) #049387;
	background-height:100%;
}
.index_hngre_8{
	background-color: #fff4de;
}
.index_hngre_9{
	background-color: #ed4036;
}
.index_hngre_10{
	width:700px;margin:10px auto 0 auto;
}
.index_hngre_11{
	line-height:22px;
}
.index_hngre_12{
	padding-left:5px;
}
.index_hngre_13{
	color:#f8d31b;
}
.index_hngre_14{
	float:left;
	margin:0px;
}
.index_hngre_15{
	float:right;
	padding-top:-10px;
}