﻿.content {
	width: 1024px;
	margin: 0 auto; /*overflow: hidden;*/
	position: relative;
	height:100%;
	min-height:700px;
}
/* part1 start*/
#part1 div.text {
	width: 100%;
	margin: 0px auto 85px auto;
	text-align: center;
}
#part1 div.text h4 {
	font-size: 90px;
	color: #ed4036;
}
#part1 div.text p {
	font-size: 26px;
	color: #ed4036;
	font-family: 'GothamThinRegular';
	letter-spacing: 2px;
}
#part1 div.text p b {
	font-weight: bold;
	font-size: 32px;
}
#part1 div.animation {
	width: 100%;
	margin: 20px auto;
	text-align: center;
	position: relative;
}
#part1 div.animation span {
	display: inline-block;
	position: absolute;
}
#part1 div.animation span#fork {
	background-image: url(../images/part1/fork.png);
	width: 103px;
	height: 260px;
	left: 280px;
	margin-top: 40px;
}
#part1 div.animation span#plate {
	background-image: url(../images/part1/plate.png);
	width: 300px;
	height: 289px;
	left: 380px;
}
#part1 div.animation span#knife {
	background-image: url(../images/part1/knife.png);
	width: 72px;
	height: 260px;
	right: 260px;
	margin-top: 40px;
}
/* part1 end*/



/* part2 start*/

#part2 div.text {
	width: 100%;
	padding:20px auto 30px auto;
	text-align: center;
	margin-top:0px !important;
}
#part2 div.text img#bits {
	right: -118px;
	position: relative;
	top: -33px;
	height: 30px;
	bottom:10px;
}
#part2 div.text p {
	font-size: 26px;
	color: #ffffff;
	font-family: 'GothamThinRegular';
	letter-spacing: 2px;
}
#part2 div.text p b {
	font-weight: bold;
	font-size: 32px;
	font-family:'GothamThinRegular';
}
#part2 div.animation {
	width: 100%;
	margin: 20px auto;
	text-align: center;
	position: relative;
}
#part2 div.animation span {
	display: inline-block;
	position: absolute;
}
#part2 div.animation span#burger {
	z-index: 213;
	background-image: url(../images/part2/burger.png);
	width: 100px;
	height: 80px;
	left: 200px;
	margin-top: 56px;
}
#part2 div.animation span#wine {
	z-index: 213;
	background-image: url(../images/part2/wine.png);
	width: 80px;
	height: 138px;
	left: 210px;
	margin-top: 196px;
}
#part2 div.animation span#icecream {
	z-index: 213;
	background-image: url(../images/part2/ice-cream.png);
	width: 65px;
	height: 125px;
	right: 215px;
	margin-top: 0;
}
#part2 div.animation span#hotdog {
	z-index: 213;
	background-image: url(../images/part2/hotdog.png);
	width: 120px;
	height: 73px;
	right: 150px;
	margin-top: 200px;
}
#part2 div.animation span#map {
	z-index: 210;
	background-image: url(../images/part2/map.png);
	width: 400px;
	height: 325px;
	left: 320px;
	margin-top: 0;
}
#part2 div.animation span#man {
	z-index: 212;
	background-image: url(../images/part2/man.png);
	width: 120px;
	height: 120px;
	left: 460px;
	margin-top: 103px;
}
#part2 div.animation span#trail-left-top {
	z-index: 211;
	background-image: url(../images/part2/trail-left-top.png);
	background-position: right;
	right: 537px;
	margin-top: 40px;
}
#part2 div.animation span#trail-left-bottom {
	z-index: 211;
	background-image: url(../images/part2/trail-left-bottom.png);
	background-position: right;
	right: 529px;
	margin-top: 180px;
}
#part2 div.animation span#trail-right-top {
	z-index: 211;
	background-image: url(../images/part2/trail-right-top.png);
	left: 530px;
	margin-top: 5px;
}
#part2 div.animation span#trail-right-bottom {
	z-index: 211;
	background-image: url(../images/part2/trail-right-bottom.png);
	left: 565px;
	margin-top: 182px;
}
#part2 div.animation span#pointer1 {
	z-index: 213;
	background-image: url(../images/part2/pointer1.png);
	width: 50px;
	height: 100px;
	left: 332px;
	margin-top: 65px;
}
#part2 div.animation span#pointer2 {
	z-index: 213;
	background-image: url(../images/part2/pointer2.png);
	width: 40px;
	height: 80px;
	right: 325px;
	margin-top: 40px;
}
#part2 div.animation span#pointer3 {
	z-index: 213;
	background-image: url(../images/part2/pointer3.png);
	width: 30px;
	height: 60px;
	right: 390px;
	margin-top: 175px;
}
/* part2 end*/

/* part3 start*/
#part3 .hngre-tast {
	margin: 0% 0 0 140px;
	padding:3% 0 0 0;
	text-align:left;
}
#part3 .hngre-tast h4 {
	font-size: 40px;
	color: #f8d31b;
	font-family: 'GothamMediumRegular';
}
#part3 .hngre-tast p {
	font-size: 18px;
	color: #fff;
	margin: 15px 0;
	font-family: 'GothamLightRegular';
}
/*#part3 div.animation { height: 325px; position: relative; bottom: -2px; }*/
#part3 div.animationcontent {
	height: 325px;
	position: absolute;
	bottom: 19px;
	width: 100%;
}
#part3 div.animation {
	height: 325px;
	position: relative;
	width: 900px;
	margin: 0 auto;
}
/* part3 end*/

/* part4 start*/

#part4 .main_align div.left_content {
	z-index: 411;
	float: left;
	left: 175px;
	/*top: 100px;*/
	top:60px;
	position: absolute;
	text-align:left;
}
#part4 .main_align div.left_content .text1 {
	font-size: 32px;
	color: #ed4036;
	font-family: 'GothamMediumRegular';
}
#part4 .main_align div.left_content .text2 {
	font-size: 60px;
	color: #039387;
	margin: 10px 0;
}
#part4 .main_align div.left_content .text3 {
	font-size: 18px;
	/*color: #ff6400;*/
	color:#ed4036;
	font-family: 'GothamLightRegular';
	line-height: 24px;
}
#part4 .main_align div.animation {
	z-index: 410;
	position: absolute;
	float: right;
	top: 200px;
	right: 150px;
}
div.outerbox {
	position: relative;
	width: 500px;
	height: 405px;
	background-color: #fff4de;
}
div.innerbox {
	position: relative;
	z-index: 101;
	opacity: 1;
	top: 90px;
	left: 150px;
	width: 320px;
	height: 206px;
	background-image: url("../images/part4/bg.png");
	background-size: cover;
}
 [class^="gear"] {
position: absolute;
opacity: 1;
}
[class^="ext"] {
position: absolute;
height: 0;
width: 0;
}
[class^="iext"] {
position: absolute;
}
[class^="curtain"] {
position: absolute;
z-index: 100;
}
div.iext101 {
	top: 51px;
	right:-2px;
	width: 35px;
	height: 5px;
	z-index: 420;
	opacity:1;
}
div.iext102 {
	top: 56px;
	left: 142px;
	width: 15px;
	height: 53px;
	z-index: 421;
	opacity:1;
}
div.iext103 {
	top: 70px;
	right: 32px;
	width: 55px;
	height: 5px;
	z-index: 422;
	opacity:1;
}
div.iext104 {
	bottom: 160px;
	left: 88px;
	width: 14px;
	height: 65px;
	z-index: 423;
	opacity:1;
}
div.iext105 {
	top: 41px;
	right: 87px;
	width: 36px;
	height: 5px;
	z-index: 424;
	opacity:1;
}
div.iext106 {
	top: 46px;
	left: 51px;
	width: 15px;
	height: 33px;
	z-index: 425;
	opacity:1;
}
div.iext107 {
	top: 75px;
	left: 117px;
	width: 5px;
	height: 88px;
	z-index: 426;
	opacity:1;
}
div.iext108 {
	top: 153px;
	left: 122px;
	width: 66px;
	height: 15px;
	z-index: 427;
	opacity:1;
}
div.iext109 {
	top: 135px;
	right: 62px;
	width: 47px;
	height: 5px;
	z-index: 428;
	opacity:1;
}
div.iext110 {
	top: 140px;
	left: 66px;
	width: 15px;
	height: 73px;
	z-index: 429;
	opacity:1;
}
div.iext111 {
	top: 165px;
	right: 108px;
	width: 35px;
	height: 5px;
	z-index: 430;
	opacity:1;
}
div.iext112 {
	bottom: 65px;
	left: 31px;
	width: 15px;
	height: 33px;
	z-index: 431;
	opacity:1;
}
div.iext201 {
	bottom: 32px;
	left: 4px;
	width: 5px;
	height:35px;
	z-index:420;
}
div.iext202 {
	top: 66px;
	left: 9px;
	width: 72px;
	height:5px;
	z-index:421;
}
div.iext203 {
	top: 71px;
	left: 76px;
	width: 5px;
	height: 31px;
	z-index:422;
}
div.iext204 {
	top: 94px;
	left: 81px;
	width: 37px;
	height: 14px;
	z-index:423;
}
div.iext205 {
	bottom: 66px;
	left: 40px;
	width: 5px;
	height: 61px;
	z-index:424;
}
div.iext206 {
	top:0px;
	left:44px;
	width:63px;
	height:15px;
	z-index:425;
}
div.iext207 {
	top:30px;
	right:93px;
	width:35px;
	height:5px;
	z-index:426;
}
div.iext208 {
	bottom:103px;
	left:0px;
	width:15px;
	height:32px;
	z-index:427;
}
div.iext301 {
	top: 0;
	left: 115px;
	width: 4px;
	height: 49px;
	z-index: 420;
}
div.iext302 {
	top: 41px;
	right: 35px;
	width: 49px;
	height: 12px;
	z-index: 421;
}
div.iext303 {
	top: 25px;
	left: 119px;
	width: 30px;
	height: 4px;
	z-index: 422;
}
div.iext304 {
	top: 29px;
	left: 141px;
	width: 13px;
	height: 27px;
	z-index: 423;
}
div.iext305 {
	top: 49px;
	left: 92px;
	width: 4px;
	height: 46px;
	z-index: 424;
}
div.iext306 {
	top: 86px;
	right: 57px;
	width: 85px;
	height: 13px;
	z-index: 425;
}
.curtain101 {
	left: 0;
	width: 35px;
	height: 5px;
}
.curtain102 {
	bottom: 0;
	width: 15px;
	height: 53px;
}
.curtain103 {
	left: 0;
	width: 54px;
	height: 5px;
}
.curtain104 {
	top: 0;
	width: 14px;
	height: 65px;
}
.curtain105 {
	left: 0;
	width: 36px;
	height: 5px;
}
.curtain106 {
	bottom: 0;
	width: 15px;
	height: 33px;
}
.curtain107 {
	bottom: 0;
	width: 5px;
	height: 88px;
}
.curtain108 {
	right: 0;
	width: 66px;
	height: 15px;
}
.curtain109 {
	left: 0;
	width: 47px;
	height: 5px;
}
.curtain110 {
	bottom: 0;
	width: 15px;
	height: 73px;
}
.curtain111 {
	left: 0;
	width: 35px;
	height: 5px;
}
.curtain112 {
	top: 0;
	width: 15px;
	height: 33px;
}
.curtain201 {
	top: 0;
	width: 5px;
	height: 35px;
}
.curtain202 {
	right: 0;
	width: 72px;
	height: 5px;
}
.curtain203 {
	bottom: 0;
	width: 5px;
	height: 31px;
}
.curtain204 {
	right: 0;
	width: 37px;
	height: 14px;
}
.curtain205 {
	top: 0;
	width: 5px;
	height: 61px;
}
.curtain206 {
	right: 0;
	width: 63px;
	height: 15px;
}
.curtain207 {
	left: 0;
	width: 35px;
	height: 5px;
}
.curtain208 {
	bottom: 0;
	width: 15px;
	height: 32px;
}
.curtain301 {
	bottom: 0;
	width: 4px;
	height: 49px;
}
.curtain302 {
	left: 0;
	width: 49px;
	height: 12px;
}
.curtain303 {
	right: 0;
	width: 30px;
	height: 4px;
}
.curtain304 {
	bottom: 0;
	width: 13px;
	height: 27px;
}
.curtain305 {
	bottom: 0;
	width: 4px;
	height: 46px;
}
.curtain306 {
	left: 0;
	width: 85px;
	height: 13px;
}
img.gear01 {
	top: 130px;
	left: 32px;
	height: 38px;
	width: 38px;
}
img.gear02 {
	top: 100px;
	left: 25px;
	height: 32px;
	width: 32px;
}
img.gear03 {
	top: 50px;
	left: 42px;
	height: 65px;
	width: 65px;
}
img.gear04 {
	top: 70px;
	left: 100px;
	height: 85px;
	width: 85px;
}
img.gear05 {
	top: 48px;
	left: 177px;
	height: 75px;
	width: 75px;
}
img.gear06 {
	top: 105px;
	left: 232px;
	height: 45px;
	width: 45px;
}
img.gear07 {
	top: 25px;
	left: 155px;
	height: 40px;
	width: 40px;
}
img.gear08 {
	top: 33px;
	left: 235px;
	height: 32px;
	width: 32px;
}
img.gear09 {
	top: 148px;
	left: 142px;
	height: 45px;
	width: 45px;
}
img.gear10 {
	top: 146px;
	left: 70px;
	height: 38px;
	width: 38px;
}
img.gear11 {
	top: 125px;
	left: 185px;
	height: 32px;
	width: 32px;
}
img.gear12 {
	top: 152px;
	left: 210px;
	height: 20px;
	width: 20px;
}
img.gear13 {
	top: 172px;
	left: 200px;
	height: 20px;
	width: 20px;
}
img.gear14 {
	top: 155px;
	left: 230px;
	height: 20px;
	width: 20px;
}
img.gear15 {
	top: 17px;
	left: 133px;
	height: 25px;
	width: 25px;
}
div.ext1 {
	top: 135px;
	right: 340px;
	width: 180px;
	height: 230px;
}
div.ext2 {
	top: 0;
	left: 375px;
	width: 134px;
	height: 133px;
}
div.ext3 {
	top: 260px;
	left: 327px;
	width: 150px;
	height: 100px;
}
/* part4 end*/

/* part5 start*/

/*#part5 .content { width: 1280px; margin: 0 auto; }*/
.google-find {
	text-align: center;
	height: 200px;
	width: 700px;
	margin: 0px auto 0 auto;
	padding:40px 0 0 0;
	position: relative;
}
span#donut {
	position: absolute;
	width: 600px;
	height: 146px;
	background-image: url(../images/part5/lines.png);
	left: 50px;
	top: 0;
	z-index: 510;
}
img#donut1 {
	position: absolute;
	width: 69px;
	height: 69px;
	left: 44px;
	top: 24px;
	z-index: 511;
}
img#donut2 {
	position: absolute;
	width: 69px;
	height: 69px;
	left: 124px;
	top: 86px;
	z-index: 512;
}
img#donut3 {
	position: absolute;
	width: 69px;
	height: 69px;
	left: 196px;
	top: 4px;
	z-index: 513;
}
img#donut4 {
	position: absolute;
	width: 69px;
	height: 69px;
	left: 308px;
	top: 46px;
	z-index: 514;
}
img#donut5 {
	position: absolute;
	width: 69px;
	height: 69px;
	left: 412px;
	top: -8px;
	z-index: 515;
}
img#donut6 {
	position: absolute;
	width: 69px;
	height: 69px;
	left: 472px;
	top: 80px;
	z-index: 516;
}
img#donut7 {
	position: absolute;
	width: 69px;
	height: 69px;
	left: 586px;
	top: 50px;
	z-index: 517;
}
img#magnifier {
	position: absolute;
	width: 110px;
	height: 200px;
	left: 24px;
	top: 2px;
	z-index: 522;
}
img#sparkle {
	position: absolute;
	width: 160px;
	left: 264px;
	top: 2px;
	z-index: 523;
}
img#zoomeddonut {
	position: absolute;
	width: 91px;
	height: 91px;
	left: 298px;
	top: 34px;
	z-index: 521;
}
.google-food {
	width: 50%;
	float: left;
	margin: 0 0 0 50px;
	text-align:left;
}
.text4 {
	font-size: 20px;
	/*color: #b72025;*/
	color:#383838;
	font-family: 'GothamMediumRegular';
}
.text5 {
	font-size: 28px;
	color: #f8d31b;
	margin: 25px 0 12px;
}
.text6 {
	font-size: 16px;
	color: #fff;
	font-family: 'GothamLightRegular';
}
.hngre {
	width: 100%;
	float: left;
	margin: 35px 0 0 45px;
	text-align:left;
}
.hngre-logo {
	width: 45%;
	float: left;
}
.hngre-logo img {
	margin: 0 0 15px;
}
.hngre-logo p {
	font-size: 16px;
	color: #fff;
	font-family: 'GothamLightRegular';
	line-height:20px;
}
.register {
	width: 50%;
	float: right;
	margin-top: -195px;
}
.email-img {
	float: left;
	position: relative;
	top: 138px;
	left: 150px;
	z-index: 999;
}
.form-box {
	width: 210px;
	height: 65px;
	float: left;
	background: #fff;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 65px 0 0 65px;
	font-family: 'GothamLightRegular';
	font-size:12px;
}
.form-box label {
	margin-top: 5px;
	display: inline-block;
}
textarea:focus, input:focus {
	outline: 0;
}
.name {
	width: 100%;
	float: left;
	border-bottom: 1px solid #ccc;
	margin: 4px 0;
}
.name input {
	border: medium none !important;
	height: 30px;
	margin: 0 0 0 5px;
	width: 98%;
	float: right;
}
.email {
	width: 100%;
	float: left;
	margin: 4px 0;
}
.email input {
	border: medium none !important;
	height: 30px;
	margin: 0 0 0 5px;
	width: 98%;
	float: right;
}
.button {
	width: 100%;
	float: left;
	margin: 20px 0 0 15px;
	text-align: center;
}
.register_button {
	width: 250px;
	height: 40px;
	border: none;
	border-radius: 10px;
	background: #E7E716;
	font-size: 18px;
	color: #ed4036;
	cursor: pointer;
	font-family: 'GothamMediumRegular';
}
.register_button:hover {
	background: #fff;
}
.footer {
	width: 100%;
	background: #f8d31b;
	padding: 5px 0;
	bottom: 0;
	position: absolute;
}
.footer_menu {
	width: 953px;
	margin: 0 auto;
}
.footer_menu div.link a {
	color: #ed4036;
	text-decoration: none;
	font-size: 20px;
	font-weight: normal;
	line-height: 10px;
	margin: 10px 0 0 10px;
	display: inline-block;
	vertical-align: text-bottom;
	font-family: 'GothamMediumRegular';
}
.footer_menu div.link {
	margin: 0 auto;
	padding: 0;
	width: 180px;
}
.footer_menu ul {
	margin: 0 auto;
	padding: 0;
	width: 150px;
}
.footer_menu ul li {
	display: inline;
	list-style: none;
	font-size: 20px;
	color: #ed4036;
	margin-right: 120px;
	float: left;
	font-family: 'GothamMediumRegular';
}
.footer_menu li a {
	color: #ed4036;
	text-decoration: none;
}
/* part5 end*/


@media only screen and (min-width: 1598px){
#part3 {
	background-size:100%!important;
	background-position:top center !important; background-repeat:no-repeat !important;
}



}