@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
ol, ul {
	list-style: none;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
blockquote, q {
	quotes: none;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: none;/*	width:100%;*/
}
body {
	background: #fff;
	font-family:Arial, Helvetica, sans-serif;
}
::selection {
	background: #000000;
	color: #ffffff;
}
::-moz-selection {
 background:#000000;
 color:#ffffff;
}
.float_lft {
	float: left;
}
.float_ryt {
	float: right;
}
/* slide navigation points */
#fp-nav {
	width: 12px;
	position: fixed;
	top: 51%;
	right: 3%;
	z-index:4;
}
#fp-nav li {
	width: 12px;
	display: block;
	display: block;
	margin-bottom:10px;
}
#fp-nav li a {
	margin: 10px 0;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #e4372d;
	border: 1px solid transparent;
	display:block;
}
#fp-nav li a.active, #fp-nav li a:hover {
	background-color: #F8D31B !important;
}
#fullpage {
	width: 100%;
}
#fullpage ul {
	width: 100%;
	list-style-type: none;
}
#fullpage > ul > li {
	width: 100%;
	position:relative;
}
#part1 {
	background-color: rgb(255, 244, 222) !important;
	padding:40px 0 0 0;
}
.section#part2 div.text img {
	width:324px;
	float:left;
	clear:both;
	margin-left:350px;
}
#part2 div.text p {
	clear:both;
	display:block;
}
#part3.section, #part4.section, #part5.section {
	position:relative;
}
.section#part1 .animation {
	opacity:.0;
	overflow:hidden;
	-webkit-transition:.8s; /* For Safari 3.1 to 6.0 */
	transition:.8s;
}
.section#part1 .animation.active {
	height:300px;
	opacity:1;
}
.section#part1 .animation #fork {
	opacity:0;
	left:-20px;
	-webkit-transition:1s; /* For Safari 3.1 to 6.0 */
	transition:1s;
}
.section#part1 .animation #knife {
	opacity:0;
	right:-20px;
	-webkit-transition:1s; /* For Safari 3.1 to 6.0 */
	transition:1s;
}
.section#part1 .animation #fork.active {
	opacity:1;
	left:280px;
}
.section#part1 .animation #knife.active {
	opacity:1;
	right:250px;
}
.content {
	top:200px;
	-webkit-transition:.8s; /* For Safari 3.1 to 6.0 */
	transition:.8s;
}
.content.active {
	top:0px;
}
.section#part2 .animation {
	opacity:1;
	overflow:hidden;
	-webkit-transition:.8s; /* For Safari 3.1 to 6.0 */
	transition:.8s;
	position:static;
}
.nobit {
}
.bit {
	display:none;
}
.bit.active {
	display:block;
}
.nobit.active {
	display:none;
}
#part2 div.text img#bits {
	width:10px;
	top:30px !important;
	left:0px;
	margin-left:435px;
	height:13px !important;
	opacity:0!important;
}
#part2 div.text img#bits.active {
	opacity:1!important;
}
#part2 div.text img#bits.active.animate {
	opacity:0!important;
	-webkit-transition:2s; /* For Safari 3.1 to 6.0 */
	transition:2s;
	top:200px !important;
	height:23px !important;
}
.content.active {
	top:35px;
	-webkit-transition:2s; /* For Safari 3.1 to 6.0 */
	transition:2s;
}
.section#part2 .animation {
}
#part2 .content.active {
	top:15px;
}
#part2 .animation span {
	opacity:0;
	-webkit-transition:2s; /* For Safari 3.1 to 6.0 */
	transition:2s;
}
#part2 .animation span#map.active {
	opacity:1;
}
#part2 .animation span#man.active {
	opacity:1;
}
#part2 .animation span#trail-left-top {
	opacity:1;
	width:0px;
	height:109px;
	overflow:hidden;
	display:block;
	-webkit-transition:3s; /* For Safari 3.1 to 6.0 */
	transition:3s;
}
#part2 .animation span#trail-left-bottom {
	opacity:1;
	width: 0px;
	height:98px;
	-webkit-transition:3s; /* For Safari 3.1 to 6.0 */
	transition:3s;
}
#part2 .animation span#trail-right-top {
	opacity:1;
	width: 0px;
	height:102px;
	-webkit-transition:3s; /* For Safari 3.1 to 6.0 */
	transition:3s;
}
#part2 .animation span#trail-right-bottom {
	opacity:1;
	width: 0px;
	height:98px;
	-webkit-transition:3s; /* For Safari 3.1 to 6.0 */
	transition:3s;
}
#part2 .animation span#trail-left-top.active {
	width:242px;
}
#part2 .animation span#trail-left-bottom.active {
	width: 227px;
}
#part2 .animation span#trail-right-top.active {
	width: 232px;
}
#part2 .animation span#trail-right-bottom.active {
	width: 224px;
}
#part2 .animation span#burger.active, #part2 .animation span#wine.active, #part2 .animation span#icecream.active, #part2 .animation span#hotdog.active {
	opacity:1;
	-webkit-transition:2s; /* For Safari 3.1 to 6.0 */
	transition:2s;
}
#part2 div.animation span#pointer1.active, #part2 div.animation span#pointer2.active, #part2 div.animation span#pointer3.active {
	opacity:1;
	-webkit-transition:2s; /* For Safari 3.1 to 6.0 */
	transition:2s;
}
#part2 div.animation span#pointer1.animate {
	width:50px;
	opacity:1;
	height:100px;
	animation:myfirst 1.7s;
	-moz-animation:myfirst 1.7s; /* Firefox */
	-webkit-animation:myfirst 1.7s; /* Safari and Chrome */
	-o-animation:myfirst 1.7s; /* Opera */
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	top:220px;
}
 @keyframes myfirst {
0% {
top:190px;
}
25% {
top:220px;
}
50% {
top:190px;
}
75% {
top:220px;
}
100% {
top:190px;
}
}
 @-moz-keyframes myfirst /* Firefox */ {
0% {
top:190px;
}
25% {
top:220px;
}
50% {
top:190px;
}
75% {
top:220px;
}
100% {
top:190px;
}
}
 @-webkit-keyframes myfirst /* Safari and Chrome */ {
0% {
top:190px;
}
25% {
top:220px;
}
50% {
top:190px;
}
75% {
top:220px;
}
100% {
top:190px;
}
}
 @-o-keyframes myfirst /* Opera */ {
0% {
top:190px;
}
25% {
top:220px;
}
50% {
top:190px;
}
75% {
top:220px;
}
100% {
top:190px;
}
}
#part2 div.animation span#pointer2.animate/*.animate*/ {
	width:40px;
	opacity:1;
	height:80px;
	animation:myfirst 1.7s;
	-moz-animation:myfirst 1.7s; /* Firefox */
	-webkit-animation:myfirst 1.7s; /* Safari and Chrome */
	-o-animation:myfirst 1.7s; /* Opera */
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	top:180px;
}
#part2 div.animation span#pointer3.animate/*.animate*/ {
	width:30px;
	opacity:1;
	height:60px;
	animation:myfirst 1.7s;
	-moz-animation:myfirst 1.7s; /* Firefox */
	-webkit-animation:myfirst 1.7s; /* Safari and Chrome */
	-o-animation:myfirst 1.7s; /* Opera */
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	top:150px;
}
.link img {
	float:left;
}
#part3 .content, #part4 .main_align .content, #part5 .content {
	top:30px;
}
#part3 .list_carousel li {
	margin-right:40px;
}
#part3 .list_carousel {
	width:920px;
	overflow:hidden;
}
#part3 .list_carousel ul {
	width:2300px;
	-webkit-transition:1s; /* For Safari 3.1 to 6.0 */
	transition:1s;
	margin-left: 462px;
}
#part3 .list_carousel ul.active {
	margin-left:230px;
}
#part3 .list_carousel ul.active.animate {

	margin-left:1px;
}
#part3 .list_carousel ul.active.animate.animate2 {
	margin-left:-230px;
}
#part3 .list_carousel ul.active.animate.animate2.animate3 {
	margin-left:-460px;
}
#part3 .list_carousel ul.active.animate.animate2.animate3.animate4 {
	margin-left:-690px;
}
#part3 .list_carousel ul.active.animate.animate2.animate3.animate4.animate5 {
	margin-left:-920px;
}
#magnifier, #zoomeddonut, #sparkle {
	opacity:0;
}
#part5 .content .google-find #donut {
	width:0px;
	overflow:hidden;
	display:block;
	-webkit-transition:4s; /* For Safari 3.1 to 6.0 */
	transition:4s;
}
#part5 .content .google-find #donut.active {
	width:600px;
}
.scale_image img {
	-webkit-transform: scale(0);
}
.scale_image.active img {
	-webkit-transform: scale(1.2);
}
.scale_image.active.active2 img {
	-webkit-transform: scale(.7);
}
.scale_image.active.active2.active3 img {
	-webkit-transform: scale(1.1);
}
.scale_image.active.active2.active3.active4 img {
	-webkit-transform: scale(.8);
}
.scale_image.active.active2.active3.active4.active5 img {
	-webkit-transform: scale(1);
	-webkit-transition:.8s; /* For Safari 3.1 to 6.0 */
	transition:.8s;
}
#magnifier.active {
	opacity:1;
}
#magnifier.active.active2 {
	top: 66px;
	left: 103px;
}
#magnifier.active.active2.active3 {
	top: -15px;
	left: 173px;
}
#magnifier.active.active2.active3.active4 {
	top: 26px;
	left: 286px;
}
#magnifier.active.active2.active3.active4.active5 {
	-webkit-transform: scale(.8);
	top: 16px;
	left: 288px;
}
#magnifier.active.active2.active3.active4.active5.active6 {
	-webkit-transform: scale(1);
	top: 25px;
	left: 288px;
}
#zoomeddonut.active, #sparkle.active {
	opacity:1;
}
 @-webkit-keyframes spinnow {
 100% {
 transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
}
}
@-moz-keyframes spinnow {
 100% {
 transform: rotate(360deg);
 -moz-transform: rotate(360deg);
}
}
@-ms-keyframes spinnow {
 100% {
 transform: rotate(360deg);
 -ms-transform: rotate(360deg);
}
}
@-webkit-keyframes spinnow2 {
 100% {
 transform: rotate(-360deg);
 -webkit-transform: rotate(-360deg);
}
}
@-moz-keyframes spinnow {
 100% {
 transform: rotate(-360deg);
 -moz-transform: rotate(-360deg);
}
}
@-ms-keyframes spinnow {
 100% {
 transform: rotate(-360deg);
 -ms-transform: rotate(-360deg);
}
}
.innerbox .gear01, .innerbox .gear02, .innerbox .gear03, .innerbox .gear04, .innerbox .gear05, .innerbox .gear06, .innerbox .gear07, .innerbox .gear08, .innerbox .gear09, .innerbox .gear10, .innerbox .gear11, .innerbox .gear12, .innerbox .gear13, .innerbox .gear14, .innerbox .gear15 {
	opacity:0;
}
.innerbox.active .gear01, .innerbox.active .gear02, .innerbox.active .gear03, .innerbox.active .gear04, .innerbox.active .gear05, .innerbox.active .gear06, .innerbox.active .gear07, .innerbox.active .gear08, .innerbox.active .gear09, .innerbox.active .gear10, .innerbox.active .gear11, .innerbox.active .gear12, .innerbox.active .gear13, .innerbox.active .gear14, .innerbox.active .gear15 {
	opacity:1;
}
.innerbox.active2 .gear01, .innerbox.active2 .gear03, .innerbox.active2 .gear05, .innerbox.active2 .gear09 {
	animation: 3s spinnow infinite linear;
	-moz-animation: 3s spinnow infinite linear;
	-webkit-animation: 3s spinnow infinite linear;
	-ms-animation: 3s spinnow infinite linear;
}
.innerbox.active2 .gear04, .innerbox.active2 .gear02, .innerbox.active2 .gear07 {
	animation: 3s spinnow2 infinite linear;
	-moz-animation: 3s spinnow2 infinite linear;
	-webkit-animation: 3s spinnow2 infinite linear;
	-ms-animation: 3s spinnow2 infinite linear;
}
.innerbox.active2 .gear02, .innerbox.active2 .gear10, .innerbox.active2 .gear06, .innerbox.active2 .gear08 {
	animation: 2s spinnow2 infinite linear;
	-moz-animation: 2s spinnow2 infinite linear;
	-webkit-animation: 2s spinnow2 infinite linear;
	-ms-animation: 2s spinnow2 infinite linear;
}
.innerbox.active2 .gear01, .innerbox.active2 .gear11 {
	animation: 2s spinnow infinite linear;
	-moz-animation: 2s spinnow infinite linear;
	-webkit-animation: 2s spinnow infinite linear;
	-ms-animation: 2s spinnow infinite linear;
}
.innerbox.active2 .gear15, .innerbox.active2 .gear13, .innerbox.active2 .gear14 {
	animation: 1s spinnow infinite linear;
	-moz-animation: 1s spinnow infinite linear;
	-webkit-animation: 1s spinnow infinite linear;
	-ms-animation: 1s spinnow infinite linear;
}
.innerbox.active2 .gear12 {
	animation: 1s spinnow2 infinite linear;
	-moz-animation: 1s spinnow2 infinite linear;
	-webkit-animation: 1s spinnow2 infinite linear;
	-ms-animation: 1s spinnow2 infinite linear;
}
#part4 .main_align .content .ext1 {
	opacity:1;
}
.ext2 div, .ext1 div, .ext3 div {
	-webkit-transition:1s;
	transition:1s;
	overflow:hidden;
}
.ext2 div img {
}
.ext2 div.iext201 {
	height:0px;
}
.ext2 div.iext202 {
	width: 0px;
}
.ext2 div.iext203 {
	height: 0px;
}
.ext2 div.iext204 {
	width: 0px;
}
.ext2 div.iext205 {
	height: 0px;
}
.ext2 div.iext206 {
	width:0px;
}
.ext2 div.iext207 {
	width:0px;
}
.ext2 div.iext208 {
	height:0px;
}
.ext2 div.iext201.active, .ext2 div.iext201 img {
	height:35px;
}
.ext2 div.iext202.active, .ext2 div.iext202 img {
	width: 72px;
}
.ext2 div.iext203.active, .ext2 div.iext203 img {
	height: 31px;
}
.ext2 div.iext204.active, .ext2 div.iext204 img {
	width: 37px;
}
.ext2 div.iext205.active, .ext2 div.iext205 img {
	height: 61px;
}
.ext2 div.iext206.active, .ext2 div.iext206 img {
	width:63px;
}
.ext2 div.iext207.active, .ext2 div.iext207 img {
	width:35px;
}
.ext2 div.iext208.active, .ext2 div.iext208 img {
	height:32px;
}
.ext2 div.iext208 img {
	bottom:0px;
}
.ext3 div.iext301.active, .ext3 div.iext301 img {
	height: 49px;
}
.ext3 div.iext302.active, .ext3 div.iext302 img {
	width: 49px;
}
.ext3 div.iext303.active, .ext3 div.iext303 img {
	width: 30px;
}
.ext3 div.iext304.active, .ext3 div.iext304 img {
	height: 27px;
}
.ext3 div.iext305.active, .ext3 div.iext305 img {
	height: 46px;
}
.ext3 div.iext306.active, .ext3 div.iext306 img {
	width: 85px;
}
.ext3 div.iext302 img, .ext3 div.iext306 img {
	right:0px;
}
.ext1 div.iext104 img, .ext1 div.iext112 img {
	bottom:0px;
}
.ext1 div.iext101.active, .ext1 div.iext101 img {
	width: 35px;
}
.ext1 div.iext102.active, .ext1 div.iext102 img {
	height: 53px;
}
.ext1 div.iext103.active, .ext1 div.iext103 img {
	width: 55px;
}
.ext1 div.iext104.active, .ext1 div.iext104 img {
	height: 65px;
}
.ext1 div.iext105.active, .ext1 div.iext105 img {
	width: 36px;
}
.ext1 div.iext106.active, .ext1 div.iext106 img {
	height: 33px;
}
.ext1 div.iext107.active, .ext1 div.iext107 img {
	height: 88px;
}
.ext1 div.iext108.active, .ext1 div.iext108 img {
	width: 66px;
}
.ext1 div.iext109.active, .ext1 div.iext109 img {
	width: 47px;
}
.ext1 div.iext110.active, .ext1 div.iext110 img {
	height: 73px;
}
.ext1 div.iext111.active, .ext1 div.iext111 img {
	width: 35px;
}
.ext1 div.iext112.active, .ext1 div.iext112 img {
	height: 33px;
}
.ext3 div.iext301 {
	height:0px;
}
.ext3 div.iext302 {
	width: 0px;
}
.ext3 div.iext303 {
	width: 0px;
}
.ext3 div.iext304 {
	height: 0;
}
.ext3 div.iext305 {
	height: 0;
}
.ext3 div.iext306 {
	width: 0px;
}
.ext1 div.iext101 {
	width: 0px;
}
.ext1 div.iext102 {
	height: 0px;
}
.ext1 div.iext103 {
	width: 0px;
}
.ext1 div.iext104 {
	height: 0px;
}
.ext1 div.iext105 {
	width: 0px;
}
.ext1 div.iext106 {
	height: 0px;
}
.ext1 div.iext107 {
	height: 0px;
}
.ext1 div.iext108 {
	width: 0px;
}
.ext1 div.iext109 {
	width: 0px;
}
.ext1 div.iext110 {
	height: 0px;
}
.ext1 div.iext111 {
	width: 0px;
}
.ext1 div.iext112 {
	height: 0px;
}
#fp-nav li a.white {
	margin: 10px 0;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #FFF;
	border: 1px solid transparent;
	display: block;
}
#part3 {
	padding-top:-20px !important;
}
.spinner {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/spinner.gif) 50% 50% no-repeat #ed4036;
}

.name, .email {
	position:relative;
	z-index:99999;
}
.name input, .email input {
	background-color:rgba(0,0,0,0);
}
.main_align {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
.ext2 div img, .ext1 div img, .ext3 div img {
	display:block;
}
#part3 .img_wrap img{ display:block;}
#part3 .main_align{}



