#main {
	display: none;
	opacity: 0;
}
#main ul.bg {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#main ul.bg li[id] {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	visibility:hidden;
}
#container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#scrollContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}
/*
    */

* {
	margin: 0;
	padding: 0;
}
/*@font-face {
 font-family: 'GothamUltraRegular';
 src: url('../fonts/gotham-ultra.eot');
 src: url('../fonts/gotham-ultra.eot') format('embedded-opentype'), url('../fonts/gotham-ultra.woff') format('woff'), url('../fonts/gotham-ultra.ttf') format('truetype'), url('../fonts/gotham-ultra.svg#GothamUltraRegular') format('svg');
}*/
@font-face {
	font-family: 'GothamUltraRegular';
	src: url('../fonts/gotham-ultra-webfont.eot');
	src: url('../fonts/gotham-ultra-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-ultra-webfont.woff') format('woff'), url('../fonts/gotham-ultra-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*@font-face {
 font-family: 'GothamThinRegular';
 src: url('../fonts/gotham-thin.eot');
 src: url('../fonts/gotham-thin.eot') format('embedded-opentype'), url('../fonts/gotham-thin.woff') format('woff'), url('../fonts/gotham-thin.ttf') format('truetype'), url('../fonts/gotham-thin.svg#GothamThinRegular') format('svg');
}*/
@font-face {
	font-family: 'GothamThinRegular';
	src: url('../fonts/gotham-thin-webfont.eot');
	src: url('../fonts/gotham-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-thin-webfont.woff') format('woff'), url('../fonts/gotham-thin-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*@font-face {
 font-family: 'GothamMediumRegular';
 src: url('../fonts/gotham-medium.eot');
 src: url('../fonts/gotham-medium.eot') format('embedded-opentype'), url('../fonts/gotham-medium.woff') format('woff'), url('../fonts/gotham-medium.ttf') format('truetype'), url('../fonts/gotham-medium.svg#GothamMediumRegular') format('svg');
}*/
@font-face {
	font-family: 'GothamMediumRegular';
	src: url('../fonts/gotham-medium-webfont.eot');
	src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-medium-webfont.woff') format('woff'), url('../fonts/gotham-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*@font-face {
 font-family: 'GothamLightRegular';
 src: url('../fonts/gotham-light.eot');
 src: url('../fonts/gotham-light.eot') format('embedded-opentype'), url('../fonts/gotham-light.woff') format('woff'), url('../fonts/gotham-light.ttf') format('truetype'), url('../fonts/gotham-light.svg#GothamLightRegular') format('svg');
}*/
@font-face {
	font-family: 'GothamLightRegular';
	src: url('../fonts/gotham-light-webfont.eot');
	src: url('../fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-light-webfont.woff') format('woff'), url('../fonts/gotham-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'GothamUltraRegular';
}
ul.sidedots {
	margin: 0;
	padding: 5px 10px;
	background-color: transparent;
	border-radius: 10px;
	position: fixed;
	top: 40%;
	right: 20px;
	z-index: 1000;
	list-style: none;
}
ul.sidedots li {
	margin: 10px 0;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #ED4036;
	border: 1px solid transparent;
}
ul.sidedots.white li {
	background-color: #ffffff;
}
ul.sidedots li.selected {
	background-color: #F8D31B;
}
ul.sidedots li:hover {
	border: 1px solid white;
	cursor: pointer;
}
/*slider*/
.list_carousel {
	margin-left: 20px;
	z-index: 320;
	width: 900px;
	height: 320px;
	overflow: hidden;
	position: relative;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	z-index: 322;
}
.list_carousel li {
	text-align: center;
	padding: 5px 10px 0 0;
	display: block;
	margin: 0 40px 10px 0;
	float: left;
	z-index: 325;
	position: relative;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.img_wrap {
	border: 10px solid #fff;
	-webkit-box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.3);
}
.mobile_wrap_bg {
	background: #d8d8d8;
	width: 220px;
	height: 430px;
	position: absolute;
	right: 215px;
	top: -95px;
}
.mobile_wrap {
	position: absolute;
	width: 260px;
	height: 470px;
	background: url(../images/part3/mobile_bg.png) no-repeat;
	right: 195px;
	top: -115px;
	z-index: 9999;
}
.shake {
	width: 130px;
	float: left;
	/*margin-top: 30px;*/
	margin-top:20px;
	text-align: left;
}
.text7 {
	font-size: 16px;
	color: #ed4036;
	text-shadow: 2px 2px  rgba(0, 0, 0, 0.3);
}
.text8 {
	font-size: 12px;
	/*color: #076156;*/
	color:#ffffff;
	font-family: 'GothamMediumRegular';
}
.healthy {
	width: 45px;
	float: right;
	/*margin-top: 30px;*/
	margin-top:20px;
}
.text9 {
	font-size: 12px;
	color: #ed4036;
	font-family: 'GothamMediumRegular';
}
